[2019-05-21 06:19] msonowal opened #353 "LOINC Code API Details"
Hi Where can we find the api details of LOINC Codes?

[2019-05-21 09:03] cmark commented on #353
Hi @msonowal,

Thank you for your interest in trying out Snow Owl with LOINC.
I'd like to inform you that this repository is for the open source (OSS) part of Snow Owl, which consists of the core modules and SNOMED CT support.
Support for LOINC and other terminologies is currently under a commercial license and they are not open source.
If you would like to use Snow Owl with these terminologies, f

[2019-07-18 12:15] dmoka opened #377 "Loading SNOMED for testing purposes"
Hey B2ihealthcare team,

We are trying to quickly load the SNOMED CT resources into snow-owl version 7 (retrieved using this https://docs.b2i.sg/snow-owl/index/installation) for testing purposes. According to the documentation (https://github.com/b2ihealthcare/snow-owl/blob/7.x/documentation/src/main/markdown/configuration_reference.md) there should be a way to turn of indexing. At part "Component

[2019-07-18 15:06] cmark commented on #377
@mirind4, thank you for your questions.

Not sure exactly which index would you like to turn off?
That configuration reference is for the 6.x version of Snow Owl and it is currently being migrated over to the new https://docs.b2i.sg site.
You can find the available configuration options for that node in this [class](https://github.com/b2ihealthcare/snow-owl/blob/7.x/snomed/com.b2international.snow

[2019-07-23 07:17] caetanopaulo opened #378 "ES cluster url not being used if set"
Hi,

We are trying to use snow owl with a dedicated ES service.
We set the clusterUrl like so:

[code]

We were able to CURL this internal URL (http://terminology-elasticsearch-client:9200) from the snow owl container. But we see this in the logs:

[code]

What are we missing?
Does the ES service has default credentials and it's falling back to the localhost url?

Best Regards

[2019-07-23 07:37] cmark commented on #378
@caetanopaulo thank you for your questions!

Could you please make sure that the configuration indeed looks like this?
[code]

No, the ES client does not use any credentials by default. There is no fall back to the localhost URL if you set the `repository.index.clusterUrl` configuration key then Snow Owl's ES client will try to connect to that cluster.
Also, could you please set the `repository.in

[2019-07-23 08:15] caetanopaulo commented on #378
Hi Mark!

We changed to configuration file. It looks like this now:

[code]
But we are still seeing this in the logs:

[code]
Any ideas?

Thanks in advance.

[2019-07-23 08:42] cmark commented on #378
Hi @caetanopaulo!

In what kind of environment are you trying to run Snow Owl? Docker? CentOS? Ubuntu?
Also, may I ask how did you install Snow Owl to this machine?

One possible root cause of the issue is that the configuration file you are editing is not the configuration file Snow Owl is actually using on bootstrap.
Snow Owl prints out the following paths at the beginning of the bootstrap phase

[2019-07-23 08:59] cmark commented on #378
Also, may I ask what version of Snow Owl are you trying to run? Thanks!

[2019-07-23 09:28] caetanopaulo commented on #378
Hi Mark,

Here's our context:
We are running this setup on kubernetes:
- Snowowl: version 7.0.0 we are using the dockerfile from this repo: https://github.com/b2ihealthcare/snow-owl-docker/tree/7.x
- ES: version 1.30.0

We add the snowowl.yml via a volume mount and we had to change it from /etc/snowowl/snowl.yml to /usr/share/snowowl/configuration/snowowl.yml
(The first one we got from the Dockerf

[2019-07-23 10:01] cmark commented on #378
Yes, mounting the config file should work as you expect, but the Snow Owl RPM package installed by the Dockerfile will try to look up the config file on the `/etc/snowowl/snowowl.yml` path.
See the relevant documentation here:
https://docs.b2i.sg/snow-owl/index-1/index/rpm#directory-layout-of-rpm

It is recommended to mount your configuration file from the local path to the `/etc/snowowl/snowowl.y

[2019-07-23 14:03] caetanopaulo commented on #378
Hi Mark,

We are using the yml file in attachment that was also verified by a lint tool.
[snowowl.yml.txt](https://github.com/b2ihealthcare/snow-owl/files/3422412/snowowl.yml.txt)

Note: we are using visual studio code and it deal with tab and spaces pretty well on yml files.
And we are getting the same exception. We tried sorting the clusterName but still no game.

What else can we do?

Thanks!

[2019-07-23 14:32] caetanopaulo commented on #378
Hi mark,

We played around with the configuration a bit. We removed the clusterName configuration so that the terminology service will use the default name: "elastic-snowowl" we then changed the name of the ES name to "elastic-snowowl".

[code]
Now we get a java.lang.NullPointerException:
[code]

Feels like we are missing something. We are using the default configuration for ES.

Best Regards

[2019-07-23 14:56] cmark commented on #378
Yes it looks like the `repository.index.clusterName` has been added recently to the `7.1.0` development version of Snow Owl, so, unfortunately, it is not possible to change that in version `7.0.0`.

Could you please send us the entire log output, it is hard to figure out the exact problem without the actual stack traces?
Thank you,
Mark

[2019-07-23 15:27] caetanopaulo commented on #378
Hey Mark,

Here's the full stack trace.
[snowowl_exception_full_1.log](https://github.com/b2ihealthcare/snow-owl/files/3422768/snowowl_exception_full_1.log)

Some configuration context:
- Using the following config on SO_PATH_CONF="/etc/snowowl"
- We changed the ES name to "elastic-snowowl"
- We can curl the http://terminology-elasticsearch-client:9200 from the terminology container

[code]
We are

[2019-07-23 15:42] cmark commented on #378
Hi @caetanopaulo,

Yes, the initial commit has failed due to Elasticsearch bulk update HTTP API inconsistency.
You are using Elasticsearch `6.7.0`, but Snow Owl v7.0.0 was built on top of the Elasticsearch `v6.3.2` HTTP API.
Could you please try again from scratch using Elasticsearch `v6.3.2`?

We are planning to release Snow Owl `v7.1.0` in August, that will hopefully depend on the latest `6.x` E

[2019-07-24 14:23] caetanopaulo commented on #378
Hi Mark!

This worked!
We are now importing the latest SnomedCT international (SnomedCT_InternationalRF2_PRODUCTION_20190131T120000Z.zip) into our terminology service.
Hopefully this will work :)

We tried importing the Netherlands version (SnomedCT_Netherlands_EditionRelease_PRODUCTION_20190331T120000Z.zip) first but that did not succeed... we will give it another go if the international import s

[2019-07-24 14:56] cmark commented on #378
Hi @caetanopaulo,

I'm glad it worked! 😃

NRC Extension/Edition releases often contain a bunch of validation errors. Snow Owl logs them under the logger name `import`.

Do you mean a terminology server as SaaS (like the `Elastic.co` for `Elasticsearch`)? If yes, feel free to contact us at [info@b2i.sg](mailto:info@b2i.sg).

Good luck,
Mark

[2019-07-26 08:28] caetanopaulo commented on #378
Hi @cmark,

We ran into a bit of a pickle importing the "SnomedCT_Netherlands_ExtensionRelease_PRODUCTION_20190331T120000Z.zip" package.
It was running almost for 24 hours. The size of the package is approx 41MB.

We checked the logs and we could find some exceptions:
[Snowowl_Import_NL_exceptions.log](https://github.com/b2ihealthcare/snow-owl/files/3434875/Snowowl_Import_NL_exceptions.log)
 ... b

[2019-07-26 13:08] cmark commented on #378
Hi @caetanopaulo,

Could you please answer the following questions to help investigate the issue further:
- Which INT RF2 release did you import successfully? Full or Snapshot 20190131?
- Did you restart the server after successfully imported the INT RF2 Release?
- What is the value of the `Xms` and `Xms` Java Heap settings of the Snow Owl process?
- How big is your Elasticsearch cluster? Distribu

[2019-07-26 15:08] caetanopaulo commented on #378
Hi @cmark

The latest production extension for NL: SnomedCT_Netherlands_ExtensionRelease_PRODUCTION_20190331T120000Z.zip

We are assuming we do not need to load the full NL edition (SnomedCT_Netherlands_EditionRelease_PRODUCTION_20190331T120000Z.zip) and just the extension (SnomedCT_Netherlands_ExtensionRelease_PRODUCTION_20190331T120000Z.zip) since we already loaded the international SNOMEDCT.

I

[2019-07-26 15:43] cmark commented on #378
Thank you @caetanopaulo!

Could you please try to import the latest Snapshot of the NL Extension on top of the `2019-01-31 INT` release?

How did you start the import? Via the OSGi console, or via the REST API?
If you've used the REST API, could you please check the status of your import on the `GET /snowowl/snomed-ct/v3/imports/{importId}` endpoint? It should return `FAILED` status.

I don't have

[2019-07-29 14:21] caetanopaulo commented on #378
Hi @cmark

Restarted all the terminology services last Friday and tried again.
We are trying to import this NL extension in a sub branch from main:
[code]

The strange thing is that it's now Monday and the import is still running:
[code]

Looking at the Friday logs for import I see this:  [Snowowl_Import_NL_exceptions_0726.log](https://github.com/b2ihealthcare/snow-owl/files/3442588/Snowowl_Import

[2019-07-30 08:59] #353 closed, assigned to cmark

[2019-08-01 14:14] cmark commented on #378
Hi @caetanopaulo,

Thank you! It took a bit of time to get access to the NL extension, but we have been able to download it and already tried to import it on top of the INT 2019-01-31 release.

It looks like there is an issue in the RF2 import time validator that prevents the extension to proceed to the actual import phase. We are investigating the issue and will fix it as soon as possible. It wil

[2019-08-02 15:02] cmark commented on #378
Hi @caetanopaulo,

We've successfully resolved your issue and the new v7.0.1 release is available to download at: https://github.com/b2ihealthcare/snow-owl/releases/tag/v7.0.1

After successfully importing the SNOMED CT INT 2019-01-31 release, import the SNAPSHOT of the NL-2019-03-31 release to the desired branch (`MAIN/MAIN-NL`).

How ever, two `StatedRelationship` rows in the NL-2019-03-31 SNAPS

[2019-08-05 15:03] caetanopaulo commented on #378
Hi @cmark

We did what you said and we got were able to get a completed import status.
By looking at the logs we are seeing a lot of "Unrecognized RF2 file" remarks:
[Snowowl_Import_NL_exceptions_0805.log](https://github.com/b2ihealthcare/snow-owl/files/3468152/Snowowl_Import_NL_exceptions_0805.log)
Not sure if everything was imported successfully...

By calling the codeSystems endpoint we see thi

[2019-08-05 16:04] cmark commented on #378
Hi @caetanopaulo,

I'm glad to hear you have been able to import the NL extension.

Not sure about why it is printing the `Unrecognized RF2 file` warning messages.
Did you specify the `FULL` or the `SNAPSHOT` RF2 release type in the import configuration?

How the header of this RF2 file looks like?
__MACOSX/SnomedCT_Netherlands_ExtensionRelease_PRODUCTION_20190331T120000Z_Patched/Full/Refset/Conte

[2019-08-06 08:08] dmoka commented on #377
Hey @cmark,

First and foremost sorry for the late response, I just got back from vacation (from Balaton :) ).

Thanks for your detailed answer! We have picked the second approach you mentioned and we could successfully import SNOMED CT contents. Right now we are learning and investigating the terminology service, following the SNOMED API and SNOMED FHIR Services documentations.

I think the issue

[2019-08-06 08:08] #377 closed, assigned to cmark

[2019-08-06 08:28] caetanopaulo commented on #378
Hi @cmark

FULL.

[code]

This worked :)
BTW. Is there anyway we can get descriptions for concepts in a batch call (multiple concepts IDs in one call)?

We also getting a HTTP 500 when we try to call the /CodeSystem endpoint:

[code]
Here are the logs:
[Snowowl_CodeSystem_Endpoint_exceptions_0806.log](https://github.com/b2ihealthcare/snow-owl/files/3471112/Snowowl_CodeSystem_Endpoint_exceptions_08

[2019-08-06 08:36] cmark commented on #377
Hi @mirind4,

No worries, thanks for your reply. I hope you have had a great time at Balaton. :)

Glad to hear you have successfully imported your first SNOMED CT content into your Snow Owl instance. May I ask which RF2 Edition/Extension you have imported?

If you have any further questions/issues do not hesitate to contact us.

Üdv.:
Márk

[2019-08-06 14:12] cmark commented on #378
Hi @caetanopaulo,

These files are MacOS metadata files, you can safely ignore them. More info at: https://apple.stackexchange.com/questions/14980/why-are-dot-underscore-files-created-and-how-can-i-avoid-them

You can use the `ecl` filter on the `GET /:path/concepts` for that, like this:

[code]

From the next v7.1.0 release, there will be a new `id` filter on this very same endpoint and also a ne

[2019-08-07 07:58] dmoka commented on #377
Hi @cmark,

We have imported the SNOMED CT International downloaded from [SNOMED INTERNATIONAL MLDS](https://mlds.ihtsdotools.org/#/landing).

Thanks again for your kind help!
Keep it up!

Üdvözlettel,
Dániel

[2019-08-12 14:31] caetanopaulo commented on #378
Hi @cmark

The filtering works well :)

Are there any plans to include n-NL as a mapped language in future releases?

Thanks!

[2019-08-16 20:53] cmark commented on #378
Hi @caetanopaulo,

Glad to hear filtering works well. :)

Yes, we are planning to include some kind of configuration option (`snomed.acceptLanguages`) to map certain language reference set IDs to their corresponding language codes.

Let me know if you have any further questions.
Cheers,
Mark

[2019-09-03 09:04] cmark commented on #378
Hi @caetanopaulo,

Just to let you know, the new 7.1.0 release is out.
There is a new configuration option (`snomed.languages`) to configure additional languageCode + languageRefSet options.

This is the default configuration value:

[code]
You can add yours as new item to the end of the languages list:
[code]

Regards,
Mark

[2019-09-09 08:18] dolchchr opened #395 "CONFIG_AREA is set incorrect in windows snowowl.bat"
Affected is the file snowowl.bat of the windows release from https://github.com/b2ihealthcare/snow-owl/releases/download/v7.1.0/snow-owl-oss-7.1.0.zip

the CONFIG_AREA is set by
set CONFIG_AREA=%KERNEL_HOME%/work
to 'Volume:\path_to_folder\snowowl_folder \work'
what leads to the error:

"<title>Invalid Configuration Location</title>The configuration area at ''Volume:\path_to_folder\snowowl_folder

[2019-09-09 08:44] cmark commented on #395
Hi @dolchchr,

Thank you for reporting the problem.
This is indeed an issue and affects the zip packages and the Windows startup script.

A workaround to resolve the issue locally is to remove the extra space from the end of this line:
[code]

After that Snow Owl will start properly.

Hope this helps.
Cheers,
Mark

[2019-09-09 08:50] #395 closed, assigned to cmark

[2019-10-28 02:59] ampaho opened #415 "Error while running ./bin/snowowl.sh with snow-owl 7.1.0"
I'm getting this error after runing `./bin/snowowl.sh` while trying to install snow-owl 7.1.0 from the binary. I downloaded, unarchived the tar.gz.

Any hints?

[code]

[2019-10-28 08:07] cmark commented on #415
Hi @ampaho,

What is the Java version you are trying to use?

Best,
Mark

[2019-10-28 08:12] cmark commented on #415
Hi @ampaho,

It looks like the `Field.modifiers` field changed from an actual field to constant in Java 12 and that throws an error when you try to modify it via reflection.

See related bug report:
https://bugs.openjdk.java.net/browse/JDK-8217225

I recommend using the latest LTS version of the OpenJDK, which should be available on most operating systems.

Cheers,
Mark

[2019-10-28 11:16] ampaho commented on #415
Hi @cmark

[code]

And I'm on Mac OSX 10.14 (Mojave).

Thanks!

[2019-10-29 08:07] psiotwo commented on #415
I got the same exception on OpenJDK 13 (not surprising, as per @cmark's note). Now trying on OpenJDK 11 which gives me the following stacktrace. Any idea?

[2019-10-29T08:04:33.460] INFO   Container: 2a0e0caf-5199-451e-97dc-998ab1b77422 org.hibernate.validator.internal.util.Version                    HV000001: Hibernate Validator 5.1.1.Final
[2019-10-29T08:04:33.836] ERROR  Container: 2a0e0caf-519

[2019-10-29 08:17] cmark commented on #415
Hi @ampaho,

Could you please try with the latest OpenJDK 11 or with Docker using the following image with the tag `7.1.0` or `latest`?
https://hub.docker.com/r/b2ihealthcare/snow-owl-oss/tags

@psiotwo Which Snow Owl package are you trying to use? Could you please also try the docker image?

There is a `7.x` docker image as well, which is the latest build from the `7.x` branch. A new image should

[2019-11-02 21:51] psiotwo opened #416 "Support for capability statement"
Would be great to expose capability statement on /metadata endpoint (TerminologyCapabilities), as specified in http://hl7.org/fhir/http.html.

[2019-11-03 09:51] psiotwo commented on #415
Hi @cmark,

thank you.

My findings:
- I am able to run the docker image (`b2ihealthcare/snow-owl`) successfully, but SNOMEDCT Intl 20190131 import fails on heap space for embedded ES - exploring now how to configure it
- I am able to run 7.1.0 on OpenJDK 11.0.2. When trying to import SNOMEDCT Intl 20190131, I successfully create import metadata by POST /imports but upon POST /imports/3c8ed4c1-5ec

[2019-11-04 07:52] cmark commented on #416
Hi @psiotwo,

Indeed, that would be really great addition to the FHIR API, definitely on our radar.

Cheers,
Mark

[2019-11-04 08:01] cmark commented on #415
Hi @psiotwo,

- To configure the HEAP space, please consult the following pages of the official documentation:
https://docs.b2i.sg/snow-owl/index-1/important-settings#setting-the-heap-size
- Could you please post the full stacktrace for the failed RF2 import? It looks like the system failed to initialize the `kotlin/jvm/internal/Intrinsics` class and that's why it is throwing `java.lang.NoClassDef

[2019-11-04 08:04] cmark commented on #415
Ohh, sorry, I just read your comment again and realized you are using the `b2ihealthcare/snow-owl` image. That is unfortunately deprecated and you should be using these images instead:
https://hub.docker.com/r/b2ihealthcare/snow-owl-oss/tags

Also, could you please try the import with the latest `7.x` image? Thanks!

[2019-11-04 13:27] psiotwo commented on #415
Hi @cmark,
trying the latest image, but getting 401 on any request. Tried to use u:'snowowl' and p:'snowowl' as suggested in https://docs.b2i.sg/snow-owl/index-1/index-2/file, but these do not seem to work for me.

[2019-11-04 13:44] cmark commented on #415
Hi @psiotwo,

How did you start the docker image?
I just tried it again using the latest 7.x image with the following command:
[code]

After that using the `snowowl:snowowl` username and password in the `Authorize` field, I can successfully log in and use the APIs.

Regards,
Mark

[2019-11-04 14:12] psiotwo commented on #415
Hi @cmark,

I was using docker-compose:
[code]

Now I tried to use docker directly as you suggest, but on another port `docker run -p 18080:8080 b2ihealthcare/snow-owl-oss:7.x`. This gives me:

[code]

[2019-11-04 14:58] cmark commented on #415
Hi @psiotwo,

Thank you for trying out the `docker run` command. So far, we could not reproduce your issue locally.
What kind of operating system and version are you using?
Which docker version is installed on your system?

Thanks,
Mark

[2019-11-04 15:02] psiotwo commented on #415
Hi @cmark,

environment below:
`> docker version` gives
[code]

It is running on an older Ubuntu machine. `uname -a` gives
[code]

[2019-11-04 15:17] cmark commented on #415
Hi @psiotwo,

One thing you could try is to pull the image again using `docker-compose pull`.
Not sure if you were using the latest version of the `7.x` image, but it's worth a try.

Cheers,
Mark

[2019-11-04 18:29] psiotwo commented on #415
Hi @cmark,
confirming that I was using the latest image which produced that error for me. Could you let me know which version of docker you use (although probably irrelevant) ?
Cheers,
Petr

[2019-11-04 23:27] psiotwo commented on #415
Hi @cmark,
I replicated the failed import resulting in `java.lang.NoClassDefFoundError: kotlin/jvm/internal/Intrinsics`. The log is shown here:
https://pastebin.com/67SZ7jRc
Petr

[2019-11-05 09:31] cmark commented on #415
Hi @psiotwo,

`docker version` gives me:
[code]

Thank you for the log.
The `ClassNotFoundError` is related to how we package our custom mapdb module and apparently that has been fixed after the `7.1.0` release in these commits: https://github.com/b2ihealthcare/snow-owl/commit/1be0b1f433b34aca1de0e07e43cb5b921d416178 https://github.com/b2ihealthcare/snow-owl/commit/93b757d64effcedea0f75e4b380be56d

[2019-11-05 10:59] cmark commented on #415
Hi @psiotwo,

FYI, the latest image has been pushed to Dockerhub. We've successfully deployed it and imported the official SNOMED INT RF2.
Let me know if that version works for you.

Cheers,
Mark

[2019-11-05 11:31] psiotwo commented on #415
Hi @cmark,
I pulled the latest image, successfully ran it. Seems the API changed in 7.x version comparing to 7.1.0 I was using before. What I can see and access are the various /snowowl/admin endpoints. But I cannot access e.g. /snowowl/snomed-ct/v3 neither /snowowl/fhir endpoints. Was checking the doc (https://docs.b2i.sg/snow-owl/api/core) as suggested in the Swagger page, which still mentions t

[2019-11-05 12:05] cmark commented on #415
Hi @psiotwo,

Yes, that is the new upcoming API documentation site, still work in progress.
You can change to the various API docs by changing the group key in the `api-docs?group=admin` URL at the top from `admin` to one of the following `snomed`, `fhir`, `cis`.

That should show you the usual APIs you were able to browser previously at `/snowowl/snomed-ct/v3/`, `/snowowl/fhir` and `/snowowl/cis`

[2019-11-05 14:20] psiotwo commented on #415
Hi @cmark,
ah yes, of course - thanks for clarification, was just confused by the new Swagger UI ...

I tried to import Snomed 20190131 Intl edition - first time tried FULL release, second time just SNAPSHOT. In both cases I ended up with some indexing failure after some time of a promising progress ...

https://controlc.com/709a8da6

[2019-11-05 14:32] cmark commented on #415
Hi @psiotwo,

Your machine is running low on disk space and the underlying Elasticsearch refuses to write anything to disk when it reaches 95% disk usage (default ES configuration setting).

See line in the attached log:
[code]

The first few lines logged by Elasticsearch actually show the available net space:
[code]

9.5Gb is not going to be enough to store the entire FULL RF2 INT data in Snow Ow

[2019-11-06 07:55] psiotwo commented on #415
Hi @cmark ,
I confirm I was able to import Full release of SNOMED CT Intl. edition. following this thread.
Thanks a lot for your support,
Petr

[2019-11-06 08:04] cmark commented on #415
Hi @psiotwo,

Great to hear that!
Should you have any questions or issues, do not hesitate to raise an issue here on GitHub.

Regards,
Mark

[2019-11-06 10:30] psiotwo opened #417 "Import of SNOMED UK extensions failed"
I tried to
1) create a branch for SNOMED UK
[code]
2) create SNOMED CT UK codesystem
[code]
3) import Snomed UK Clinical Edition (20191001), in a similar manner as for SNOMED CT, but the import failed (after 15 mins). Logs in https://pastebin.com/5eeskrYD.

Cannot spot any exception inside, but there are some ERRORs of not found mappings.

Any idea would be appreciated.

Cheers,
Petr

[2019-11-06 10:33] psiotwo opened #418 "How to use other terminologies with SnowOwl?"
I am interested to find out what would be the best way to import non-SNOMED terminologies to SnowOwl, either existing ones (e.g. LOINC), or custom ones. What would be the entry point in source code for developing a custom store for other terminologies?

[2019-11-06 18:28] cmark commented on #417
Hi @psiotwo,

1. Branch creation looks okay.
2. Creating a new code system is almost okay, the `terminologyId` is actually a constant ID for ALL SNOMED CT related terminologies (it is more like a `toolingId`, than an identifier of the terminology itself, we might rename it in the future), use this for all SNOMED CT code systems: `com.b2international.snowowl.terminology.snomed`
3. Looks like that U

[2019-11-07 08:05] cmark commented on #418
Hi @psiotwo,

Thank you for your interest in using Snow Owl for non-SNOMED terminologies.

The current OSS version includes the terminology server core architecture and the SNOMED CT plug-ins. On top of that B2i Healthcare provides support for many terminologies (including ATC, ICD-10, LOINC, custom local codes), intensional, extensional value sets, mapping sets and an Authoring Environment, where

[2019-11-09 10:36] #378 closed, assigned to cmark

[2019-11-11 13:21] psiotwo opened #421 "How to set up ELK reasoner with SnowOwl 7.2.0"
Hi,
after running latest docker image 7.x, I can only see NoOpReasoner in the list of /snomed-ct/v3/reasoners. Is classification supported in OSS version? If so, how to plug e.g. ElkReasoner in?
Thanks,
Petr

[2019-11-11 13:23] psiotwo commented on #417
Hi @cmark,

thanks for hint. I was able to import SNOMEDCT-UK after removing der2_Refset_SimpleFull_GB1000000_20190601.txt and der2_iisssciRefset_ExtendedMapFull_GB1000000_20190601.txt
from the distribution.

Bests,
Petr

[2019-11-11 13:51] cmark commented on #421
Hi @psiotwo,

Yes, it is supported and this is a bug if that's not the case.
I've fixed it, it should be included in the new `7.x` OSS image.

Regards,
Mark

[2019-11-11 18:14] psiotwo commented on #421
Hi @cmark ,
I confirm it works.
Thanks,
Petr

[2019-11-12 22:54] psiotwo opened #422 "Get refsets endpoint returns 500"
Hi,

tried to get all SNOMED refsets from SnowOwl and ended up with running GET /snowowl/snomed-ct/v3/MAIN/refsets?limit=10 (also tried /snowowl/snomed-ct/v3/MAIN/900000000000455006/refsets?limit=10) - both return 500 (stacktrace https://pastebin.com/RhnazQvp).

Petr

[2019-11-13 07:38] cmark commented on #422
Hi @psiotwo,

Thank you for reporting the issue. That looks like a bug in the REST API controller.
I'll fix it and a new docker image will be available with the fix in an hour or so.

Regards,
Mark

[2019-11-13 08:10] #422 closed, assigned to cmark

[2019-11-13 08:23] #421 closed, assigned to cmark

[2019-11-13 08:56] psiotwo opened #424 "Getting all ConceptMaps fails"
Hi,
running GET /snowowl/fhir/ConceptMap ends up with

[code]

[2019-11-13 09:25] #424 closed, assigned to cmark

[2019-11-13 09:26] psiotwo commented on #422
Hi @cmark,
thanks for quick response. Tried latest docker 'b2ihealthcare/snow-owl-oss:7.x' just now and looks like it behaves the same as before ... (also Swagger docs still suggests that  refSetTypes is a path variable).
Petr

[2019-11-13 09:32] cmark commented on #424
Hi @psiotwo,

Thank you for reporting the problem.
The issue was that the SNOMED CT FHIR support module did not properly fall back to the IDs when a given concept did not have a preferred term in the requested locale (language refset).
A newer image will be up soon with the fix.

Regards,
Mark

[2019-11-13 09:33] cmark commented on #422
Hi @psiotwo,

Yeah, there was a build failure, unfortunately. Please try again in 20-30 minutes.

Regards,
Mark

[2019-11-13 10:42] joshlk opened #425 "Version control example"
Hi,

I'm working with @psiotwo and exploring the branching and version control capabilities of Snow Owl. I am doing a test whereby I create a new branch, make a change and then merge that change with the original branch.

Here is what I've got so far:
1. Create a new branch "test-1" (branched from MAIN) `/snowowl/snomed-ct/v3/branches`:
[code]

2. Delete a concept on that branch (449752001) `/snow

[2019-11-13 13:16] ivelina-yordanova opened #426 "FHIR api $lookup concept in extension"
Hi,

I was testing the $lookup endpoint and wanted to search for a concept in a snomed extension(the UK one) thinking the format should be **[snomed-base-uri]/[extension-module-id]** and passing the code of the concept. However, this does not work, not out of the box with the current setup.

I had a quick look at the code and seems like the path is build mainly based on the version as branch of th

[2019-11-13 14:37] cmark commented on #425
Hi @joshlk,

You did everything perfectly and this is how the API is intended to be used.
How ever, there was an issue in the code that initialized the identifier of the newly created branch incorrectly, which results in empty compare data.
A new docker image will be up soon (30 mins or so) on DockerHub with the `7.x` tag which you can try out.
Make sure to create another branch from scratch and r

[2019-11-14 10:33] joshlk opened #427 "ECL support"
Hi,

I'm investigating Snow Owl's support of SNOMED ECL (Expression Constraint Language). In the frontpage [readme](https://github.com/b2ihealthcare/snow-owl/blob/277bf10eafa71f7ea7d0a203f18830d40c92e420/README.md) it states that you support ECL 1.3.

It also looks like the best way of querying using ECL is using the `/snomed-ct/v3/{path}/concepts` endpoint with the `ecl` parameter.

How is the EC

[2019-11-14 11:19] cmark commented on #427
Hi @joshlk,

Yes, Snow Owl does support all operations described in the ECL v1.3 spec (https://confluence.ihtsdotools.org/display/DOCECL).

Execution logic:
When you filter concepts by the `ecl` it will execute the following steps:
1. Parses the ECL expression and returns back with HTTP 400 in case of a Syntax error
2. Evaluates the ECL expression using a series of Elasticsearch search queries aga

[2019-11-14 11:19] ivelina-yordanova commented on #426
Am I not asking the right question or on the right way?

[2019-11-14 12:51] cmark commented on #426
Hi @ivelina-yordanova,

This is a good question and yes, it's not covered in the FHIR API docs, because it is not supported yet.
The best would be to somehow map the SNOMED URI you have described to Snow Owl's internal CodeSystem representation in order to look up the code from the correct branch, but there were multiple issues with the approaches so far (because the FHIR API Spec does not allow t

[2019-11-14 14:17] ivelina-yordanova commented on #426
Hey, thanks for getting back to me. If it's possible to add it that would be great!

Actually I do have a bit of a side question. I am trying to setup the project in Eclipse and following the instructions but no matter what I tried I keep getting some variation of `Missing Constraint: Require-Bundle: <bundle>". I used to develop an Eclipse based product few years back and thought something will co

[2019-11-14 14:29] cmark commented on #426
Hi @ivelina-yordanova,

Yeah, run configurations could get out of sync easily and it is very hard to keep them in sync with the actual code and dependencies.
I'll synchronize them for you. Please try again when you see the related commit message here on this issue.

Cheers,
Mark

[2019-11-14 17:01] ivelina-yordanova commented on #426
Amazing, that seems to work now, although the endpoints are not behaving as expected but it's starting! Thanks

[2019-11-15 09:02] ivelina-yordanova commented on #426
Ok, running that config ( mentioned in the readme) I can see the bundles get resolved and can query stuff in the osgi console, but for the life of me couldn't get the endpoints to work, I can only get the elasticsearch one but nothing on 8080/snowowl/*

[2019-11-15 09:31] cmark commented on #426
Hi @ivelina-yordanova,

Yes, that is a tricky one, unfortunately.
The underlying tooling does not play nicely and will not start the REST API bundles automatically sometimes. You need to start them manually when you see the `osgi>` console.
To do that follow these steps:
1. Run the `ss jetty` command to get back the ID of the `org.eclipse.jetty.osgi.boot` bundle
2. Start `org.eclipse.jetty.osgi.bo

[2019-11-15 09:56] ivelina-yordanova commented on #426
🤦‍♀ I figured it would be something like that but for some reason I was trying to start the `om.b2international.snowowl.core.rest` without starting the other one first, didn't even noticed it wasn't running... Thanks again
Isn't this "just" a question of fixing the start level of these bundles? I the osgi boot is even one level after the default one? And making them autostart, tried it, think it w

[2019-11-15 10:18] cmark commented on #426
The order actually does not matter, because the `jetty.osgi.boot` bundle will deploy any bundle that is in starting state and it's a Web Application Bundle (WAB).
Yes, essentially the bundle start level should solve this, but in practice, this does not work as it is supposed to. Sometimes it starts the boot bundle too soon (before the core infrastructure) and the REST API init will fail because th

[2019-11-15 10:27] martinmart92 opened #430 "not authenticated health check (aka readinessProbe) endpoint *without* authentication"
hi! I understand `/snowowl/admin/info` endpoint is the preferred health check endpoint as described in https://docs.b2i.sg/snow-owl/index/explore/check-status

While trying to deploy snowowl in kubernetes, I am struggling configuring kubernetes health configuration, since snowowl returns a HTTP 401 `Missing authorization token` when called without authentication. I am referring to readinessProbe d

[2019-11-15 10:34] cmark commented on #430
Hi @martinmart92,

Well, if you only care about the actual availability of the services, then you could just ping the base URL `http://localhost:8080/snowowl`, which returns the API documentation site.
If that is up and returns `HTTP 200` then you can be sure that the services are ready to receive requests.

I hope this works for you.

In the meantime, we will consider removing authorization for t

[2019-11-15 13:02] martinmart92 commented on #430
thanks @cmark for your answer! It works for me.
`curl http://localhost:8080/snowowl/` worked (removing the final `/` returned a 302, but including it returned a 200)

I will close this issue. Have a good day!

[2019-11-15 13:02] #430 closed, assigned to cmark

[2019-11-15 14:07] martinmart92 opened #431 "Question about support for recent versions of Elasticsearch"
What is the most recent version of Elasticsearch supported by SnowOwl?
Would a 6.5 version work as an example? (that's the one we have at the moment in our cluster so I just want to make sure).

What about the latest stable version? 7.4.x https://www.elastic.co/guide/en/elasticsearch/reference/current/es-release-notes.html

Thanks!

[2019-11-15 14:20] martinmart92 opened #432 "runtime configuration Elasticsearch cluster URL"
https://docs.b2i.sg/snow-owl/index-1/index-1/elasticsearch details how to set the value of Elasticsearch cluster URL with `repository.index.clusterUrl` in `snowowl.yml` file.
I was wondering about setting it at runtime, maybe via an environment variable or a property, instead of hardcoding the value?

Is there a way to override configuration properties in `snowowl.yml` by runtime parameters?

(I b

[2019-11-15 14:30] cmark commented on #431
Hi @martinmart92,

The most recent version of Elasticsearch that is supported by Snow Owl is `v6.8.x` (the latest is `v6.8.4` and we will upgrade our dependencies to this version for the upcoming `7.2.0` release).
I think the Elasticsearch v6.8.x HTTP and TCP clients (which are used by Snow Owl internally) should be compatible with a `6.5.0` cluster.
Feel free to experiment with it and report any

[2019-11-15 14:44] cmark commented on #432
Hi @martinmart92,

Well, with the current implementation you have three options:
1. Mount a customized `snowowl.yml` file for each Snow Owl docker container instance (eg. using volume mounts) where you specify the `repository.index.clusterUrl` parameter to the desired value.
2. Mount an external file just like in the first option, but use environment variables to specify the values. See this porti

[2019-11-18 10:35] martinmart92 commented on #431
thank you for your detailed answer :)

[2019-11-18 12:54] joshlk opened #433 "History of a concept"
Hi,

I would like to be able to view the historical changes to a concept. For example, on date X relationship Y was added. I can't seem to find a feature that provides that functionality. Is it possible to view a concept at a given commit? Also is it possible to be able to see the changes that were made with a commit?

A commit could be a SNOMED delta update or changes done via snow owl.

Thanks,

[2019-11-18 13:08] martinmart92 commented on #432
Hi @cmark  thanks for your answer, I am actually trying the third option, and I am looking into the syntax:

I added a new line at the end of the `/usr/share/snowowl/configuration/snowowl.yml` file:
`repository.index.clusterUrl: https://vpc-es-snowowl-some-path.eu-west-1.es.amazonaws.com`

would that be correct?
In an first test, when starting the docker container, I saw the following logs contain

[2019-11-18 14:38] cmark commented on #433
Hi @joshlk,

Thank you for your questions.

These two are possible by using the Commit API in the SNOMED CT REST API:
See these endpoints:

`GET http://localhost:8080/snowowl/snomed-ct/v3/commits`
 - Returns all commits (by default the first 50)
 - Filter them by properties such as `branch`, `timestamp`, etc.
 - You can filter them by `affectedComponentId` (which can be the concept or an ID of any

[2019-11-18 14:54] joshlk commented on #425
This works in the latest version 👍

[2019-11-18 15:01] cmark commented on #425
Awesome, thank you for checking and getting back to me.

[2019-11-18 15:01] #425 closed, assigned to cmark

[2019-11-18 15:26] psiotwo opened #434 "Creation of a concept"
I am trying to create a new concept. Steps I have taken:

1. Successfully imported SNOMED CT Intl 20190131 and SNOMED UK 20180131

2. Created a custom branch as a child of SNOMED CT Intl
POST `/snowowl/snomed-ct/v3/branches`
[code]

3. POST `/snowowl/cis/login`
[code]

4. POST `/snowowl/cis/authenticate` - and I obtained the token which I use in the subsequent requests

5. Generate and publish an

[2019-11-18 16:01] cmark commented on #434
Hi @psiotwo,

Looks almost right, just a small problem, you have generated concept IDs for both of your descriptions and your relationship.
The IDs `1009999106, 31009999108, 41009999101` represent concept IDs and the API fails to recognize them as valid description and relationship IDs and it cannot register the ID, because we ask to register it as a description/relationship ID.
Two options to sol

[2019-11-18 16:07] martinmart92 commented on #431
with a ES 6.5, I got the following:

[code]
after some digging I got the impression that ignore_throttled and include_type_name make the following query fail (400)

`curl -I  "https://vpc-es-some-path.eu-west-1.es.amazonaws.com/validations-validationissue?ignore_throttled=false&include_type_name=true&ignore_unavailable=false&expand_wildcards=open&allow_no_indices=true"`

maybe I should upgrade my

[2019-11-18 16:38] apeteri commented on #434
One other issue is that a Published SCTID can not be used when creating new components - this state represents identifiers which are already a part of an RF2 dataset made available to terminology content consumers. This is what the 400 response referred to.

Refer to this diagram for the lifecycle of a single SCTID:

![sctid_states](https://user-images.githubusercontent.com/1411829/69071365-0f4f97

[2019-11-18 16:51] martinmart92 commented on #432
splitting with multi-lines YML format (instead of one line) did work! closing

[2019-11-18 16:51] #432 closed, assigned to cmark

[2019-11-18 17:07] psiotwo commented on #434
Hi @cmark and @apeteri , thanks for really helpful comments. (2 worked for me)

[2019-11-19 11:12] cmark commented on #431
Hi @martinmart92,

This could be something that might require an upgrade on your Elasticsearch cluster to `v6.8.2`. The Elasticsearch High-level HTTP Client has been developed during the 6.x releases of Elasticsearch and there could be something that is **not** backward compatible and requires an upgrade. It's probably worth checking their release notes since the 6.5 release.

We will investigate

[2019-11-19 11:49] psiotwo opened #435 "How to use FHIR $translate endpoint"
Trying to use a ConceptMap/$translate endpoint on the following map (obtained by `GET /fhir/ConceptMap/snomedStore:MAIN/2019-07-31:446608001` in my SnowOwl runtime)

[code]

The request I use is `GET /fhir/ConceptMap/$translate?code=173604004&system=http://snomed.info/sct&targetsystem=uri://unknown_target_codesystem`

As an outcome I get

[code]

So I suspect, maybe the target codesystems of all S

[2019-11-19 12:10] martinmart92 opened #436 "connection to AWS Elasticsearch: `_settings`"
I got the following error when trying to start Snow-owl `7.x`:

[code]

Could it be that Snow-owl hits a restricted api?
I am wondering if using `/_all/_settings` (instead of /_settings) could be a possible alternative?

[2019-11-19 12:13] #433 closed, assigned to cmark

[2019-11-19 13:32] apeteri commented on #436
Hi Martin,

Indeed, including the `/_all` prefix should work. `/_settings` on its own is not present on the allowed operations list for Amazon's Elasticsearch Service: https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/aes-supported-es-operations.html#es_version_6_8

I added this change just now, it should be available in the next push to Docker Hub.

Regards,
András

[2019-11-19 14:29] martinmart92 commented on #436
great! thanks András! when would it be available?

[2019-11-19 14:45] apeteri commented on #436
In about half an hour.

[2019-11-19 15:16] apeteri commented on #436
b2ihealthcare/snow-owl-oss:7.x was updated to [ab0bf70cddaa8](https://hub.docker.com/layers/b2ihealthcare/snow-owl-oss/7.x/images/sha256-ab0bf70cddaa8917211bbe0dce0dda833a57234ff2a8bc6ac9f839a472844402).

[2019-11-19 17:21] ivelina-yordanova opened #437 "Auth question"
Hi,

I see you have two identityProviders at the moment. Do you have it as a goal somewhere on your roadmap to support OAuth?

From what I am seeing and I think adding it wouldn't be as straightforward as just adding a new plugin because you use internal/custom jwt creator and validator in the identity plugin so it looks like adding new provider would require changing this and essentially create a

[2019-11-19 17:27] martinmart92 commented on #436
thanks!
good news, it worked!
Snowowl was able to start and connect successfully to AWS ES.
Closing ticket.

[2019-11-19 17:27] #436 closed, assigned to apeteri

[2019-11-19 17:46] martinmart92 opened #438 "import Snomed error (413 Request Entity Too Large) AWS S3"
Running the latest Snowowl 7.x (docker image from today), with ES 6.8.0 in AWS ES.

I got this error while trying to import Snomed:
GET `/snowowl/snomed-ct/v3/imports/93b27bc6-2b9f-4b5a-915b-b6a4aa584109` returns:
[code]

Server side logs:
[code]

Full details:

[code]

[2019-11-20 10:51] martinmart92 commented on #438
might be relevant to the investigation: https://forums.aws.amazon.com/thread.jspa?threadID=217922

Extract of this link:
[code]

[2019-11-20 11:07] martinmart92 commented on #438
actually, my setup is a c5.large.elasticsearch which has 10 MiB as limit for "Maximum Size of HTTP Request Payloads"
Would it work if it was a `c5.xlarge.elasticsearch` which has a 100Mib limit?

[2019-11-20 11:46] martinmart92 commented on #438
side question: after an import failure, is it rolled-back (like in a transactional database?) or should the part of the successfully imported data be cleaned manually in Elasticsearch?

[2019-11-20 15:26] martinmart92 commented on #438
I confirm upgrading to a `c5.xlarge.elasticsearch` has resolved the problem. I manually deleted the indexes to clean the data imported only partially, and re-imported again successfully.

[2019-11-20 16:57] #438 closed, assigned to cmark

[2019-11-20 16:59] martinmart92 opened #439 "Question about transaction rollback if import failure"
After an import failure (cf https://github.com/b2ihealthcare/snow-owl/issues/438), is it rolled-back like in a transactional database, or is there some manual cleaning to do to remove part of the data imported successfully in Elasticsearch?

[2019-11-20 17:03] ivelina-yordanova opened #440 "Uploading CodeSystems, ConceptMaps and ValueSets"
Hi,

I was looking at the documentation and the code and iI have a hard time figuring out how to upload new ConceptMaps, CodeSystems and ValueSets.

Theoretically it should be possible to server all these :
* CodeSystems - https://www.hl7.org/fhir/terminologies-systems.html 
* ConceptMaps - https://www.hl7.org/fhir/terminologies-conceptmaps.html 
* ValueSets - https://www.hl7.org/fhir/terminologie

[2019-11-20 17:10] cmark commented on #438
Hi @martinmart92,

Thank you for figuring out the problems and issues around Snow Owl and AWS Elasticsearch integration.
We think it would be beneficial to add some kind of configuration to Snow Owl's underlying Elasticsearch client, which would enable administrators to tweak the payload size of the HTTP requests sent by Snow Owl to ES. Unfortunately, this is not something we can plan for the upco

[2019-11-21 14:08] ivelina-yordanova commented on #440
Maybe the better way of asking this is

1) What is (if there is one) the recommended way of modelling and adding code systems so that the performance is not hindered or the functionality.
Should each CodeSystem be a separate unmerged branch, i.e like an extension to the Snomed one or whould they each have their own repo and MAIN branch with their own extensions, versioning etc? Or is there a compl

[2019-11-21 14:31] cmark commented on #440
Hi @ivelina-yordanova,

The Snow Owl Terminology Server supports collaborative authoring for Code Systems, Mapping Sets and Value Sets via either our dedicated Snow Owl Authoring Client or a custom solution using our Java or REST API.
For generic Value Sets, Mapping Sets and Local Code Systems, you can take a look at a short video at https://www.youtube.com/watch?v=TsgJUGCY0dg.

These artifacts al

[2019-11-21 14:39] ivelina-yordanova commented on #440
This was very helpful, yes, thank you.

[2019-11-27 10:16] martinmart92 opened #441 "Query parameters ignored in Swagger UI"
Hi!
when trying to use swagger ui `/snomed-ct/v3/{path}/members` and fills `path` and `referenceSet`, only the path parameter is taken into account when executing the query.

The curl and path commands shown in swagger also seem to be missing referenceSet parameter.
When fixing the curl command manually, we do get different results:
incorrect curl from swagger=
[code]

expected correct curl fixed

[2019-11-27 10:37] ivelina-yordanova commented on #437
Hi,

Sorry about that closed it by mistake.

I was looking at the ldap setup instructions and was wondering if there you can give some example of setup for the three files `permissions.ldif`, `roles.ldif`, `pm.ldif`?

The descriptions is detailed but I am trying to use okta interface and not pure openLdap, because we want to avoid it and that makes it a bit tricky.

Thanks

[2019-11-27 14:41] martinmart92 opened #442 "validate data in a branch"
when trying to start a validation in `/admin/validations` endpoint, with a sub-branch under MAIN, I get a stacktrace linking to:
https://github.com/b2ihealthcare/snow-owl/blob/07323b8780d78e23e48b2a429bd2ed97e7da0506/core/com.b2international.snowowl.core.rest/src/com/b2international/snowowl/core/rest/validation/ValidationRestService.java#L122

but it works when I ask with branch value being MAIN.

[2019-11-28 09:38] cmark commented on #442
Hi @martinmart92,

Yes, it looks like this is something that is missing from the implementation. Indeed it would be a good addition and it is already works, but not from the REST API. We will fix this issue for the upcoming `7.2.0` release.

Cheers,
Mark

[2019-11-28 10:51] martinmart92 commented on #442
understood, thanks for your answer @cmark :)

[2019-11-28 10:53] cmark commented on #442
Let's keep this ticket open until we actually resolve the issue. Probably in the upcoming hours the fix will be available and pushed to DockerHub.

[2019-11-28 11:06] martinmart92 commented on #442
sure, no pb, thank you

[2019-11-28 11:11] martinmart92 opened #444 "error retrieving validation issues for violated MRCM rule"
I created a relationship that violates one of the Snomed MRCM constraints of range, to test the validation feature:
- create a new concept in MAIN branch
- create an incorrect relationship ( new concept has findingSite => England)
- start a validation MRCM
- retrieve validation issues (https://host/snowowl/admin/validations/validations/27c2551/issues?limit=50)
In Swagger I get a 500 Server Error,

[2019-11-28 11:15] cmark commented on #417
Resolved. Closing issue.

[2019-11-28 11:15] #417 closed, assigned to cmark

[2019-11-28 11:16] cmark commented on #418
Resolved issue. Closing.

[2019-11-28 11:16] #418 closed, assigned to cmark

[2019-11-28 11:16] cmark commented on #427
Resolved issue. Closing.

[2019-11-28 11:16] #427 closed, assigned to cmark

[2019-11-28 11:16] cmark commented on #434
Resolved issue. Closing.

[2019-11-28 11:16] #434 closed, assigned to cmark

[2019-11-28 11:42] cmark commented on #441
Hi @martinmart92,

Thank you for reporting the issue.
This indeed a bug in how the Swagger UI v3 handles multi-valued query parameters (or how we generate the api-docs spec).
We will investigate and get back to you.

Cheers,
Mark

[2019-11-28 16:58] cmark commented on #441
Reverted to an earlier version of `swagger-ui-react` dependency, which fixes the problem. Let me know if this works for you.

[2019-11-29 08:20] cmark commented on #415
All of the reported issues have been resolved successfully. Closing issue.

[2019-11-29 08:20] #415 closed, assigned to cmark

[2019-11-29 10:08] #444 closed, assigned to cmark

[2019-11-29 10:15] #442 closed, assigned to cmark

[2019-11-29 10:27] cmark commented on #442
The issue has been fixed, a new image will be available in an hour or so on DockerHub.
Could you please try and see if resolves the issue at your end @martinmart92 ?

Thank you,
Mark

[2019-11-29 18:02] ivelina-yordanova commented on #437
Hi again,

Is there a way to get that example please?

Thanks

[2019-12-02 17:43] mattecasu opened #446 "concepts vs descriptions search"
Hello,
a question on search, my scenario is searching labels (descriptions) of concepts, filtering  by ancestors (my ideal response should contain description/label matched and its concept_id):
- I like how `/snomed-ct/v3/{path}/concepts/search` supports filtering by ancestors, but the response doesn't show what terms were actually matched. Is this something that can be added in the response, by u

[2019-12-02 18:32] apeteri commented on #446
Hi Matteo,

The second approach should be possible with the current version of Snow Owl. The description search endpoint allows you to restrict matches to descriptions on concepts by an ECL expression, which is evaluated over inferred relationships; in addition to that, you can load the properties of the concept associated with matching descriptions through the use of the `expand` option:

[code]

[2019-12-03 12:58] mattecasu commented on #446
Thanks a lot! I was confused by the difference in the ECL field name ("ecl" for concepts, "concept" for descriptions).
The two endpoints seem to return different results in some cases for same inputs, I guess this is expected since it's a matter of scores in the internal index?

[2019-12-03 13:24] apeteri commented on #446
Correct. Another difference is that on the concept search endpoint, individual concepts appear at most once in the result set, with their highest scoring description used as the base for score calculations.

[2019-12-03 13:28] mattecasu commented on #446
Thank you very much for the clarifications. I still feel it would be a useful feature to expose the highest scoring description on the concept endpoint, but I understand it might not be a priority. But if you can point me to the relevant point in the codebase I can try and have a look. Thanks for now!

[2019-12-03 13:36] apeteri commented on #446
This is the section where the concept search request executes a description search behind the scenes: https://github.com/b2ihealthcare/snow-owl/blob/dd8104bcfadc33ac0e63b4b9eb4ec939687dcbef/snomed/com.b2international.snowowl.snomed.datastore/src/com/b2international/snowowl/snomed/datastore/request/SnomedConceptSearchRequest.java#L268-L314

[2019-12-03 13:36] #446 closed, assigned to nobody

[2019-12-04 14:13] joshlk opened #450 "Branch merging"
Hi,

When trying to review (so I can then merge) two branches I get the following error:
[code]

I did the following steps:
1. Create branch X from MAIN
2. Create a new concept in X
3. Create branch Y from MAIN
4. Try start a review X source=MAIN/X and target=MAIN/Y

Is this the desired behaviour or a bug?

[2019-12-04 16:13] cmark commented on #450
Hi @joshlk,

This error message no longer applies, the 7.x version of Snow Owl can actually create a review even if the branches do not have parent-child relationship. Will be fixed for 7.2.0 release.
Use the Compare API to get back the changes between two branch in the meantime.

Cheers,
Mark

[2019-12-04 16:14] #450 closed, assigned to cmark

[2019-12-04 16:21] joshlk commented on #450
So at the moment with the latest version (`b2ihealthcare/snow-owl-oss:7.x` docker image) you cant merge the two branches?

[2019-12-04 16:31] cmark commented on #450
You can merge the two branches, you need to use the `/merges` endpoint for that.
The review endpoints will only get back the concept changes from the compared branch, which can be used for displaying GitHub style compare views.

[2019-12-04 16:54] joshlk commented on #450
But to meet you need a review ID. That’s why I’m doing a review. Or has that changed?

[2019-12-04 17:01] cmark commented on #450
That is an optional value, or it should be optional, if not then that is a bug.

[2019-12-04 17:01] cmark commented on #450
Try to leave it out from the request body.

[2019-12-05 07:47] cmark commented on #440
Answered. Closing issue.

[2019-12-05 07:47] #440 closed, assigned to cmark

[2019-12-05 09:07] joshlk commented on #450
That worked 👍 . Its not clear in the documentation that review ID is optional. Thanks

[2019-12-05 17:13] joshlk opened #451 "Merge status "SCHEDULED""
Hi,

Ive started a merge process using `POST ​/snomed-ct​/v3​/merges` and then when I check the status using `GET /snomed-ct​/v3​/merges​/{id}` its says the merge status is "SCHEDULED" and the `scheduledDate` is just the time I query `GET /snomed-ct​/v3​/merges​/{id}`. What does "SCHEDULED" mean and how do I get the merge to start?

[2019-12-06 07:15] cmark commented on #451
Hi @joshlk,

"SCHEDULED" status means that the request has been accepted but there is no available executor at the moment to start the Job. Merging, Classification and other resource intensive operations use the Job API to run their operations asynchronously and track the progress.
You can query the currently running jobs via the Jobs API `/admin/jobs`.
The available statuses are: `SCHEDULED`, `RU

[2019-12-06 07:26] cmark commented on #437
Hi @ivelina-yordanova,

Sorry for my late reply.

The current JWT token implementation is brand new and supports the `file` and `ldap` use cases at the moment. We will implement and improve on that in the near future, that is definitely on our radar.
You could how ever implement your own `IdentityProvider` that supports an external OAuth system.
Just make sure you override the [IdentityProvider.au

[2019-12-06 08:52] psiotwo opened #452 "'Get Export' not reliable"
When GETting a previously POSTed export, e.g.

{{SERVER}}/snowowl/snomed-ct/v3/exports/1bbc27b5-a63a-4c27-8f70-c53b837a1045

most of the time the expected response is obtained

`{
    "type": "DELTA",
    "branchPath": "MAIN/TEST",
    "namespaceId": "INT",
    "moduleIds": [
        "10000001000242103"
    ],
    "includeUnpublished": false,
    "codeSystemShortName": "SNOMEDCT",
    "extensionOn

[2019-12-06 09:01] psiotwo opened #453 "Export of FULL/SNAPSHOT on a branch is empty"
DELTA export of an extension on a branch is working:
`{
	"branchPath" : "MAIN/TEST",
	"extensionOnly": true,
	"moduleIds" : [
		"10000001000242103"
	],
	"type": "DELTA"
}`

but for FULL/SNAPSHOT the export files are generated with empty content.

The three generated exports:
https://filebin.net/i7j6h6d40hsovbwe

[2019-12-06 11:05] joshlk commented on #451
Thanks for the clarification. Now that I check the `/admin/jobs` endpoint it says the job is RUNNING while `/snomed-ct​/v3​/merges​/{id}` says its SCHEDULED

[2019-12-06 11:12] joshlk opened #454 "Branches after SNOMED DELTA update"
Hi,

I currently have a branching model of:
* `MAIN` is SNOMED INT (January 2019)
* `MAIN/SNOMEDCT-UK` is the UK edition extension
* `MAIN/SNOMEDCT-UK/BABYLON-UK` is the Babylon extension to the UK edition

After updating SNOMED INT using the latest July 2019 delta using the `/snomed-ct/v3/imports` endpoint `MAIN` has the latest content in it.

To make the latest content available to the other bra

[2019-12-10 13:14] cmark commented on #451
Yes, that is a bug, and I'll push the fix for it in a few minutes.

Cheers,
Mark

[2019-12-10 13:14] #451 closed, assigned to cmark

[2019-12-11 08:44] psiotwo opened #456 "POST refset/members issues"
Hi,

when trying to POST to refset/members, after a few subsequent posts the import fails with the the following exception.

What would be the canonical way to create a SIMPLE_MAP refset and add members to it?

Thanks,

Petr

[code]

[2019-12-11 14:20] cmark commented on #454
Hi @joshlk,

Yes, that branching model looks good. You can even depend on specific versions of SNOMED CT if you want and if you have the full history. A version (or tag) is represented as an empty branch basically.
If you rebase a branch, only that branch will be rebased to the new base. Child branches remain there until you rebase them on their parent.
So to get the new July release content to th

[2019-12-11 17:37] cmark commented on #456
Hi @psiotwo,

Thanks for reporting. This is a known issue in the lock API, it will be fixed for the upcoming 7.2.0 release.

Cheers,
Mark

[2019-12-13 08:32] cmark commented on #453
Hi @psiotwo,

The `extensionOnly` should be set to `true` if the branch you are exporting from is related to an extension CodeSystem of the CodeSystem associated with the `MAIN` branch (there is a parameter to select the CodeSystem you are exporting, `codeSystemShortName`).
If `MAIN/TEST` is just a basic branch and would like to export the content from the perspective of that branch, set the `exte

[2019-12-17 13:21] joshlk opened #461 "Conflicting branches"
Hi,

How do you resolve branch merging conflicts? For example, I am attempting to merge two branches `MAIN/test-1` and `MAIN/test-1/test-2`. I get the following results from `GET /snomed-ct/v3/merges/{id}`:

[code]

What are the next steps I need to do to resolve the conflicts?

[2019-12-18 10:35] cmark commented on #441
It looks like reverting the dependency did not solve the issue at all. We need to take a deeper look at this issue and why it is happening.
Related swagger-ui ticket: https://github.com/swagger-api/swagger-ui/issues/5119

[2019-12-24 14:27] ivelina-yordanova opened #462 "Remote job cleanup exception kills the whole app/ API section"
While playing around with the FHIR API (using the GET endpoints only) I suddenly started getting timeout responses. This then turned into the whole application being unable to load. After restarting the pods the other endpoints were working, but all FHIR ones throw this exception, on each call:

[code]

Now, I have no way of fixing that because it seems like the restart even doesn't do it.

I am n

[2019-12-24 15:44] ivelina-yordanova commented on #462
So it ended up being a bigger problem after the restart and few Get tries, it started throwing a LOT of exceptions ( Review cleanup, classification...) and ended up dying with OutOfMemory.

[2020-01-02 08:37] cmark commented on #461
Hi @joshlk,

Just like in Git, merge conflicts require manual resolution.
Executing two compares from each branch's perspective (`MAIN` -> `MAIN/a` and `MAIN/a` -> `MAIN`) you can get the changes on each side and using that information you can easily display a user interface similar to GitHub compare view. When there are no conflicts you can proceed to merging of `MAIN/a` into `MAIN`.
When there a

[2020-01-02 09:27] cmark commented on #462
Hi @ivelina-yordanova,

I don't think it is the maintenance/cleanup thread that kills the app.
Instead, from the symptoms you have described, I think the app is dying because it does not have enough memory and constantly tries to run the GC.
There should be a JVM GC log somewhere in the home directory of the application which can be helpful to resolve memory/GC issues. Could you please send us tha

[2020-01-02 09:39] ivelina-yordanova commented on #462
Hi @cmark ,

It did end up dying with OOM exception but I'd think it would work fine at least in the beginning after a pod restart and it didn't, only the other API enpoints were working after a restart and the FHIR ones weren't.

What helped "fix" the FHIR endpoints, was flushing the `jobs` index and clearing the cache when the pod died again and restarting it again. This is what makes me believe

[2020-01-03 08:37] cmark commented on #452
Hi @psiotwo,

Thank you for reporting the issue and sorry for the late reply.
If you have downloaded the RF2 file via the `/:id/archive` endpoint then after another GET request to the export configuration indeed returns an HTTP 404 response. This is by design and how this endpoint is intended to work (mostly because exports in the previous Snow Owl versions could take more than 5 minutes to comple

[2020-01-03 08:37] #452 closed, assigned to cmark

[2020-01-03 15:37] ivelina-yordanova commented on #462
Hi @cmark,

I could not find anything really.
We only keep the logs for 7 days back and the fhir endpoints are behaving as before now (after the index flush and cache clean). Unfortunately, we are also not tracking the metrics at the moment (created a ticket for that now).
Is there anything you can think of that I might try to reproduce this (I've got no idea what triggered it)?
Also, if it really

[2020-01-03 16:31] cmark commented on #462
Hi @ivelina-yordanova,

Well, assume that the OOM is indeed related to the jobs cleanup process, then you need to create lots of jobs that produce large result sets (branch compare for example with large changesets) and mark them for deletion. The next time the cleanup task runs it will try to load the entries, but fails to do so due to the lack of free memory. I don't think it is possible to floo

[2020-01-07 12:31] ivelina-yordanova commented on #462
Hi @cmark,

I have tried bumping up the memory to 16GB and did the following:
- fire few  requests for the /fhir/CodeSystem /fhir/ValueSet /fhir/ConceptMap to get big resultsets
- cancelled them

and  it crashed even with this amount of memory with the exact same exceptions in the beginning and then eventually ending up with OOME.

It's worrying because we do not have all the data we would like to

[2020-01-07 12:47] cmark commented on #462
Hi @ivelina-yordanova,

Could you please share the FHIR requests you have fired with us? (eg. were there any ValueSet expansion or something and also how big is the requested data)
By cancelling them you mean the HTTP requests, right?

Good idea, but first, it would be great to figure out what's causing the memory issue exactly.
Currently, there is no restriction in terms of the requested dataset

[2020-01-07 13:58] ivelina-yordanova commented on #462
Hi @cmark,

Yes

The  request are the ones I quoted above:
1)  GET /fhir/CodeSystem
2)  GET /fhir/ValueSet
3)  GET /fhir/ConceptMap - which always returns 500 and appears to have a lot to do with this issue

So, I've tried few diff things:
- if I only fire a the requests for 1) and 2) normally, without cancelling - they always return 200 and the result sets are fairly big so I am highly suspicions

[2020-01-08 08:54] cmark commented on #462
Hi @ivelina-yordanova,

Could you please report this issue along with the stack trace from the logs in a separate GitHub ticket?

How big exactly? 100Mb JSON? May I ask, which CodeSystem and which ValueSet?

Anything else happens on the system or just these three requests?

Thanks,
Mark

[2020-01-08 09:15] ivelina-yordanova commented on #462
Hi @cmark,

I'll create a separate issue for the /fhir/ConceptMap exceptions but I think it's not entirely unrelated to this issue.

Also, here's more info on the response sizes of the other 2 endpoints:

Certainly not huge, but the biggest we could get atm. Is it possible for this to have something to do with other config/setup?

How big is the data you have been testing with?

Oh, and nothing el

[2020-01-08 09:51] ivelina-yordanova opened #463 ""Broken" GET /fhir/ConceptMap endpoint, causing app to become completely unusable/die"
Hi,

The `GET /fhir/ConceptMap` endpoint always times-out and ends up returning 504 after approximately 59.20something - 59.30something seconds of waiting.

So, after noticing this I cancelled a request and this led to around 16 exceptions  like the one below right off the bat.

[code]

It's also not just these 16 exceptions but they continue to be thrown on each other request and the other reques

[2020-01-08 09:53] cmark commented on #462
Hi @ivelina-yordanova,

We are testing mainly with the entire UK dataset internally.
It looks like the implementation loads all members of each mapping reference set from the current SNOMED data and that will definitely cause OOMEs eventually.
I've changed the logic (https://github.com/b2ihealthcare/snow-owl/commit/0ed6b1c31d218b841514c613fee4fa4f410ce8c8) to exclude the members of a SNOMED CT Con

[2020-01-08 10:42] ivelina-yordanova commented on #462
Hi @cmark,

I just deployed and tried the 7.x version.

Now, the /fhir/ConceptMap endpoint returns (is not timing out) but it's still 500, this time the Exception is a NPE:

[code]

This is without messing up with the request and trying cancelling it, it's now really quick so I can't even cancel it.

I have not yet tried to reproduce the OOM but the last time it involved cancelling this endpoint a

[2020-01-08 10:57] cmark commented on #462
Hi @ivelina-yordanova,

Yeah, that's my fault, I wanted to quickly solve the issue. 😅 Please try again in 30 minutes.

Cheers,
Mark

[2020-01-08 11:48] ivelina-yordanova commented on #462
Hi @cmark,

It now works! Well, sort of, it's returning :

`
{
    "resourceType": "OperationOutcome",
    "issue": [
        {
            "severity": "error",
            "code": "invalid",
            "diagnostics": "1 validation error",
            "details": {
                "text": "Parameter 'elements' content is invalid [[]]. Violation: may not be empty.",
                "coding": [

[2020-01-08 12:48] cmark commented on #462
Hi @ivelina-yordanova,

Yup, that was picked up by our build system as well, fixing it right now.
Try again in 15 minutes or so.

Cheers,
Mark

[2020-01-08 13:23] ivelina-yordanova commented on #462
Hi @cmark,

Now, it worked once, I saw a result, but then started timing out and there are other exceptions :

[code]

[2020-01-08 13:58] cmark commented on #462
Hi @ivelina-yordanova,

After the fixes, it works fine at my end using the full INT + UK data.
The request returns 19 mapping reference sets as FHIR ConceptMaps in about 50ms.
Executed in 100 times via a script, but could not find any issue that is related to the error above.
It looks like the HTTP connection closes before the write completes, probably becaue you cancel the HTTP request.
I will tr

[2020-01-08 15:28] ivelina-yordanova commented on #462
Hi @cmark ,

So those exceptions are happening randomly, not with every request. Sometimes it will throw the exception and return 504, sometimes exception + 500. Most of the times it would just time out with without an exception. Other small percentage of the times it will actually return 200, but very very very slow, the requests take avg 59.11sec. Our data has 177 ConceptMaps so maybe the amount

[2020-01-08 15:30] cmark commented on #462
Hi @ivelina-yordanova,

Even with the latest changes on 7.x branch?

Cheers,
Mark

[2020-01-08 15:32] ivelina-yordanova commented on #462
Think so, the version is  `7.3.0.202001081255`,
the one after the NPE one

[2020-01-08 16:11] cmark commented on #462
Could you please try again with the latest version (`7.3.0.202001081522`)?
That version has some fixes regarding logging and error reporting (on top of the OOME fix).

[2020-01-08 16:13] cmark commented on #462
Also, could you please share how do you execute those HTTP requests?
By hand, using the Fetch API or some other JS library (eg. axios)?

[2020-01-08 16:25] ivelina-yordanova commented on #462
I just updated and the behaviour appears to be same on first sight, I mean times out then returns OK, then times out...etc very random. I have not yet seen Exception though.

I started by using swagger but it's very slow and freezes so eventually, the whole day today and yesterday I've been using postman.

[2020-01-08 16:50] cmark commented on #462
Hmm, that almost 60 seconds avg response time might be indicating the root cause of the randomness issue.
The default async timeout for HTTP requests I think set to `60s`, and if the response makes it to the HTTP layer before the timeout happens then it succeeds and writes the response back otherwise fails with an async timeout exception.
You might want to increase the `jetty.http.idleTimeout` pro

[2020-01-09 08:00] cmark commented on #463
This has been fixed in commits https://github.com/b2ihealthcare/snow-owl/commit/0ed6b1c31d218b841514c613fee4fa4f410ce8c8 and https://github.com/b2ihealthcare/snow-owl/commit/67d1e03fdb504db1a803e198ec5a77d040328934.

[2020-01-09 08:00] #463 closed, assigned to cmark

[2020-01-10 15:29] ivelina-yordanova commented on #462
Hi @cmark,

It is slow but don't think we want to increase the idleTimeout for now.

Thanks for fixing the other issues so quickly though. It's now at least safe to use the endpoint, even if its performance is far from ideal.

It sort of got lost in-between the other messages but is there anything you could do about the metrics endpoint thing?

Regards,
Ivelina

[2020-01-16 14:13] RichardChappell opened #464 "Initial import problem"
My problem relates to importing an initial SNOMED CT RF2 distribution. The sequence of steps I took were

•         I downloaded a distribution – “uk_sct2cl_28.0.0_20191001000001.zip”
This contains 2 subdirectories
SnomedCT_InternationalRF2_PRODUCTION_20180731T120000Z
SnomedCT_UKClinicalRF2_PRODUCTION_20191001T000001Z

I attempted to import the zip file as is but the import process returned a 500

[2020-01-16 14:37] cmark commented on #464
Hi @RichardChappell

Thank you for reporting the issue.
To find the cause of failures (such as 500 Something went wrong HTTP responses, or internal errors during import, etc.) please find the appropriate `log*.log` file under your Snow Owl installation directory (usually under `/var/log/snowowl`) and open it in a text editor or use `grep` to find any lines with `ERROR` or `Exception` in it.

Could

[2020-01-17 09:26] martinmart92 opened #466 "Import Snomed International issue"
Trying an import from an empty server, I got this in server side:

[code]

Sorry for poor formatting, the important part is: `listener timeout after waiting for [30000] ms` probably returned by Elasticsearch. I did a quick dive in the code + googling..and found socket time configuration in ES client could be in cause.

I will retry increasing the socket timeout in SnowOwl ES client configuration t

[2020-01-17 10:45] RichardChappell commented on #464
Here are the log files

[SnowOwl - log_2020-01-16.log](https://github.com/b2ihealthcare/snow-owl/files/4076360/SnowOwl.-.log_2020-01-16.log)
[SnowOwl - log_2020-01-17.log](https://github.com/b2ihealthcare/snow-owl/files/4076361/SnowOwl.-.log_2020-01-17.log)

I started the import of UK-CL at 16Jan2020 09:33 and noticed the failure at 16Jan2020 12:08
I decided to import INT at 16Jan2020 14:04 and no

[2020-01-17 10:45] RichardChappell commented on #464
The single distribution method did not work for me

curl -X POST "http://localhost:8000/snowowl/snomed-ct/v3/imports/6f700174-0fc3-4cb2-b9bd-0a8e6722707c/archive" -H "accept: */*" -H "authorization: Basic c25vd293bDpzbm93b3ds" -H "Content-Type: multipart/form-data" -F "file=@uk_sct2cl_28.0.0_20191001000001.zip;type=application/x-zip-compressed"
{"status":500,"code":0,"message":"Something went wron

[2020-01-17 12:39] cmark commented on #464
Hi @RichardChappell,

According the first log file the current multipart configuration for uploading files is not sufficient enough for the combined UK CL release. We will consider increasing that value for the next release. You can do that manually in the `configuration/jetty-http.xml` file until the next release.

Importing the individual files looks about right, except that it fails due to miss

[2020-01-20 14:51] martinmart92 opened #469 "importId not stored in database"
Hi!
I have deployed 2 instances of SnowOwl behind a loadbalancer and called the loadbalancer endpoint to import a file.
At the end of the process, it seems like only one of the two instances of SnowOwl knows about the `importId` value: one instance returns a HTTP 404 and the other one returns the expected result:

instance 1:
`{"status":404,"code":0,"message":"SNOMED CT import configuration with i

[2020-01-20 15:02] cmark commented on #469
Hi @martinmart92,

Thank you for reporting. We are aware of this issue.
Yes, the solution would be something like that, store the configuration in ES.
Also, since both the import/export and somewhat long-running operations, it would be beneficial to use the Job API to store and run them along with their configuration values (similar to the current Validation endpoint).

This will be part of an upc

[2020-01-20 15:15] cmark commented on #466
Hi @martinmart92,

Thank you for reporting the issue.
As you have described it configuring the `socketTimeout` might fix the issue and is considered a workaround.
The exception is actually coming from a query and not from the commit. Additional debug output would be helpful here, since the AWS ES Service has its own peculiarities and we do not have much experience with it.
Also, it would be great

[2020-01-20 15:20] cmark commented on #462
Hi @ivelina-yordanova,

What would you like to configure exactly in the metrics endpoint?
That endpoint provides metrics for a Prometheus DB via the [Micrometer API](https://micrometer.io/).

Cheers,
Mark

[2020-01-20 15:22] cmark commented on #461
Let us know if you have any further questions or feel free to open another issue. Closing.

[2020-01-20 15:22] #461 closed, assigned to cmark

[2020-01-20 15:24] cmark commented on #456
Hi @psiotwo,

This has been fixed and released within the 7.2.0 version.
Feel free to reopen this ticket if the issue is still present in your system.
Closing.

Cheers,
Mark

[2020-01-20 15:24] #456 closed, assigned to cmark

[2020-01-20 15:26] cmark commented on #454
Hi @joshlk,

Feel free to reopen this ticket if you have any further questions.
Closing.

Cheers,
Mark

[2020-01-20 15:26] #454 closed, assigned to cmark

[2020-01-20 15:27] cmark commented on #437
Hi @ivelina-yordanova,

Feel free to reopen this ticket if you have any further questions.
Closing.

Cheers,
Mark

[2020-01-20 15:27] #437 closed, assigned to cmark

[2020-01-20 15:59] ivelina-yordanova commented on #462
Hi @cmark,

The question was whether  it's possible to cleanly change the endpoint from `admin/stats` to `/metrics` in a way provided by the server and not having to hack a solution.

Thanks

[2020-01-20 16:33] martinmart92 commented on #469
Ok! thanks for quick answer. I'll close this issue if that's fine with you.

[2020-01-20 16:33] #469 closed, assigned to cmark

[2020-01-20 16:35] cmark commented on #462
Hi @ivelina-yordanova,

Hmm, at the moment it would be easier to solve this problem in a reverse proxy than in Snow Owl itself.
Currently, each API group should have its own path prefix (`/admin`, `/snomed-ct/v3`, etc.) otherwise the subpaths will conflict in the underlying Spring handler mapping and cause issues runtime.
I recommend redirecting to `/admin/stats` from a reverse proxy `/metrics` en

[2020-01-20 17:13] ivelina-yordanova commented on #462
Hi @cmark,

Yeah, will do something  like that, just wanted to check if you have an easy way of doing it so it's a config change.

Thanks again

[2020-01-20 17:13] #462 closed, assigned to cmark

[2020-01-21 08:14] cmark commented on #439
Hi @martinmart92,

Sorry for my late reply.

tl;dr;
You can remove that data manually, but unfortunately, it's not that easy to select the changes to revert. Feel free to re-execute the commit request (be it a simple change or an import).

There is a minimal transactionality built into Snow Owl 7.x, something like what Git does when you push changes to a remote repository, but that's by nature is

[2020-01-21 08:14] #439 closed, assigned to cmark

[2020-01-21 08:15] cmark commented on #453
Hi @psiotwo,

Feel free to reopen this ticket is you have any further questions regarding the RF2 export feature.

Cheers,
Mark

[2020-01-21 08:15] #453 closed, assigned to cmark

[2020-01-29 13:39] RichardChappell commented on #464
Hi Mark,

I have successfully imported the full INT portion of the official release and have managed to access various components (concepts, descriptions etc). The import took about 19 hours so I have held back on importing the UK extension so my question now is, had the multipart import worked, would a branch under MAIN have been automatically created for the UK part?

Additionally, I have looked

[2020-02-03 08:14] cmark commented on #464
Hi Richard,

I'm glad to hear the import worked for you.
The UK extension branch should be manually created before you start the import on it, there is not automated creation of any child branches during RF2 import. The branch you select in the RF2 import configuration will be the target of the imported content.
To import the UK extension to its own dedicated branch, you need to create a branch vi

[2020-02-03 09:32] psiotwo opened #473 "SNOMED Commit API seems to be too coarse-grained"
After successful import of SNOMED Intl FULL (20190131 release), and then I wanted to get the change history for a concept (incl. relationships where from/to is the chosen concept and descriptions of that concept). Currently the only option seems to me to use the /commits API to get all the commits related to the concept, e.g.:

`/snomed-ct/v3/commits?affectedComponentId=61462000`

This results in

[2020-02-03 09:47] RichardChappell commented on #464
Hi Mark,

Thanks for your reply.

I feel like I am going down a bit of a rabbit hole. All I am trying to do is import a SNOMED archive using your API. Because this didn't work I figured I could separate the archive into its constituent zip files and import them individually. I don't really know if I need a separate branch for the UK part - I am just guessing as to what happens if everything worked

[2020-02-03 11:20] cmark commented on #464
Hi Richard,

Could you please try to import the UK extension without those invalid members?

Reference sets (especially the UK ones) often reference components that do not exist at all in the official releases. To fix them, you need to **remove those lines** and try to import it again.
It is up to you how you configure your terminology server, if the only release you are going to have at the end i

[2020-02-03 12:55] cmark commented on #473
Hi @psiotwo,

Yes, this is a limitation of the current commits API, unfortunately.
Usually what we do to show the history of a single concept is fetch everything in one go:

    GET /snomed-ct/v3/commits?affectedComponentId=61462000&expand=details()

The `details()` expand will actually use the `affectedComponentId` filter to limit the details object to the requested component ID and all its relat

[2020-02-03 15:12] psiotwo commented on #473
Hi @cmark ,
yes, thanks - sounds perfect!
Petr

[2020-02-03 17:27] psiotwo commented on #473
Hi @cmark,

thanks, just tested.

Maybe I misinterpreted your intent. When I issue the first request
`GET /snomed-ct/v3/commits?id=7ca1c4da-a045-4f7c-a6e0-f632d5243b06&affectedComponentId=61462000&expand=details()`

I still get the whole commit in the result. What I would need is to filter only those items in the commit which refer to the concept (or related descriptions/relationships), e.g. by fi

[2020-02-04 08:07] cmark commented on #473
Hi @psiotwo,

No, you did not, you did everything perfectly, the example I gave you was incorrect.
Inside a nested object expansion, like in `details()`, we treat everything as JSON and parse it accordingly. So to be able to parse the `affectedComponentId` as a String value, you need to wrap it in `"61462000"`, so the correct example would look like this:

    GET /snomed-ct/v3/commits/7ca1c4da-a0

[2020-02-04 08:23] psiotwo commented on #473
Hi @cmark ,

thanks for hint. First it seemed to me it worked :-). But, then tried for a commit which corresponds to the 2002-07-31 release import of Snomed CT Intl. and got:

[code]
no matter whether I specify affectedComponentId or not, i.e. both of the following calls return a result set with the same "total".

`/snomed-ct/v3/commits/9a463a2e-e718-4f6d-890a-34a20889401f?expand=details()`

and

[2020-02-05 18:24] psiotwo opened #477 "Comparison of two branches is empty"
I have two branches - one contains a SNOMED CT International, snapshot 2018-07-31, the other SNOMED CT UK extension, snapshot 2019-06-01. The latter is derived from the former. When looking up a SNOMED CT UK concept I correctly find it in the latter and not in the former:

`/snomed-ct/v3/MAIN/2018-07-31/SNOMEDCT-UK-2019-06-01/concepts/1019581000000105`

gives 200, while

`/snomed-ct/v3/MAIN/2018-0

[2020-02-06 09:12] RichardChappell commented on #464
Hi Mark,

I tried your suggestion and it feels like a losing battle. When I perform an import if fails after finding 100 non-existent concept ids. So I then remove those concepts ids from the data files using a custom program. Next I re-zip the data files and re-import. Again, another batch of 100 non-existent concept ids and so it goes on with no end in sight. At the moment I am doing this as a p

[2020-02-06 11:28] cmark commented on #464
Hi @RichardChappell,

Sorry to hear your struggle with the UK import. We've never tried to import the UK content as a single archive into Snow Owl, because we would always like to have a dedicated branch for the international content and for the extensions.

To import the archive in a single go, it is necessary to increase to allowed max file size limit, which in the latest 7.3.0 version is **not*

[2020-02-06 18:01] cmark commented on #431
Hi @martinmart92,

Just to let you know, the process to upgrade to Elasticsearch 7.x (as of today, 7.5.2) has been started. You can track the progress on this branch:
https://github.com/b2ihealthcare/snow-owl/tree/upgrade/elasticsearch-7.x
And the PR: https://github.com/b2ihealthcare/snow-owl/pull/478

Cheers,
Mark

[2020-02-07 22:25] cmark commented on #431
The Elasticsearch 7.5.2 version is now supported by Snow Owl 7.x.
_NOTE: Any data indexed with Elasticsearch 6.8.x can be safely moved to Elasticsearch 7.5.2 without any kind of migration._
Feel free to try it out using the latest Docker image. Resolving issue as fixed.

[2020-02-07 22:25] #431 closed, assigned to cmark

[2020-02-07 22:30] cmark commented on #477
Hi @psiotwo,

Thank you for reporting the issue.
This should work pretty much as you have described it, the `1019581000000105` Concept should show up in the diff.
I'll investigate further and get back to you.

Cheers,
Mark

[2020-02-07 22:33] cmark commented on #466
FYI: the `maxResultWindow` now can be configured in the latest Snow Owl 7.x and should always match the connected Elasticsearch's `max_result_window` setting, otherwise Elasticsearch might refuse to evaluate search requests with larger than its configured `max_result_window`.

[2020-02-10 17:21] psiotwo commented on #473
Hi @cmark ,

I was testing stuff on wrong deployment and can confirm that everything works with me exectly as you described.

I tried even a more "bold query" to get all the details across all the commits in one run:

`/snomed-ct/v3/commits?expand=details(affectedComponentId:"239783001")`

It is working fine, but it returns also commits which don't reference this component at all, e.g.

[code]

Do

[2020-02-10 17:35] cmark opened #481 "Support JDK 14+ compile time"
When trying to compile and use Snow Owl with `OpenJDK 13/AdoptJDK 13` it throws the following exception during REST API initialization:
[code]

To fix the issue, Spring needs to be upgraded to `5.2.x`, see here:
https://github.com/spring-projects/spring-framework/wiki/Spring-Framework-Versions

[2020-02-11 09:25] apeteri commented on #481
Would restricting the Java "release" compiler option for these projects help? https://www.baeldung.com/java-lang-unsupportedclassversion#2-changing-the-compiler-level

[2020-02-11 13:52] cmark commented on #481
Yes, thank you, using the latest OpenJDK 13 actually works at runtime and fails with the above exception if compiling sources with compliance level Java 13.

[2020-02-11 14:31] RichardChappell commented on #464
I have finally managed to import some UK data. For the benefit of future readers

The task was to import 4 Snomed files

1.	SnomedCT_InternationalRF2_PRODUCTION_20180731T120000Z
2.	SnomedCT_UKEditionRF2_BETA_20200204T000002Z
3.	SnomedCT_UKClinicalRF2_BETA_20200204T000002Z
4.	SnomedCT_UKClinicalRefsetsRF2_BETA_20200204T000002Z

Steps taken.

1.	Start with blank repository
2.	Imported SnomedCT_Inter

[2020-02-11 14:31] #464 closed, assigned to cmark

[2020-02-11 14:39] cmark commented on #464
Hi @RichardChappell,

Glad to hear you have managed to get the UK CL data imported into your Snow Owl instance.
Feel free to open another issue if you run into any trouble or have a question.

Cheers,
Mark

[2020-02-11 14:59] RichardChappell opened #482 "Problem retrieving refsets"
I am calling the following endpoints but I am getting confusing results

GET /snomed-ct/v3/{path}/members - Retrieve reference set members from a branch
GET /snomed-ct/v3/{path}/refsets - Retrieve Reference Sets from a branch

Using the Swagger UI,

http://localhost:8000/snowowl/snomed-ct/v3/MAIN/members returns 50 out of a potential 10067083 records.

http://localhost:8000/snowowl/snomed-ct/v3/MA

[2020-02-11 15:17] cmark commented on #482
Hi @RichardChappell,

This looks like a bug. The endpoint should return reference set documents instead of returning zero. May I ask which version of Snow Owl do you have installed?
The fix will be available soon in the new snow-owl-oss 7.x Docker image and will be released end of next week with the 7.4.0 version.

Cheers,
Mark

[2020-02-11 15:27] #482 closed, assigned to cmark

[2020-02-13 09:47] martinmart92 opened #484 "merge branches, job running and locks"
Good Morning,
I am getting the following issue with branch merging in SnowOwl 7.x.
Starting from an empty index, I imported Snomed-International in the `MAIN` branch.
I then imported Snomed-UK (snapshot) into `MAIN/2018-07-31` (a sub-branch of Snomed-International).
I then created an "empty" branch `A` starting from `MAIN/2018-07-31`: the new branch path is `MAIN/2018-07-31/A`

Now since I want to

[2020-02-13 12:41] cmark opened #485 "EffectiveTime filter not working for unpublished SNOMED CT Content"
The current implementation of the `effectiveTime` filter (REST API) does not allow users to filter for `Unpublished` content.
The underlying Java API actually allows this via the

    SnomedSearchRequestBuilder.filterByEffectiveTime(long)

method, but the REST API endpoints are calling the

    SnomedSearchRequestBuilder.filterByEffectiveTime(String)

which does not allow unset effective time valu

[2020-02-13 12:48] cmark opened #486 "Support pretty print option on REST API endpoints"
Most of Snow Owl's endpoints return JSON data.
It would be nice to have a `pretty` query parameter, that pretty prints the output.

[2020-02-13 16:02] ivelina-yordanova commented on #426
Hi @cmark

I just came back to this and saw you have made some changes referring to the ticket, but cannot quite understand what's the status of it?

Has this been enabled now or is work in progress?

Thanks,
Ivelina

[2020-02-14 13:39] #485 closed, assigned to cmark

[2020-02-17 16:10] #441 closed, assigned to cmark

[2020-02-21 09:49] cmark commented on #473
Hi @psiotwo,

The filtering bug has been fixed and the `details()` expand with an `affectedComponentId` filter will now produce the correct numbers.

Regarding the other issue you have reported, you only restrict the `details()` expansion to the given `affectedComponentId`, but you still need all commits because you did not filter them by any means.
From an API perspective, this works as expected

[2020-02-21 10:53] psiotwo opened #494 "How to use ValueSet/$validate-code operation"
Hi,
I created a custom refset with a single SNOMED code in the MAIN/2018-07-31 branch (where I have SNOMED International 2018-07-31 imported).

I am able to see the refset through the GET ValueSet endpoint (see listing below):
`{
  "resourceType": "ValueSet",
  "id": "snomedStore:MAIN/2018-07-31:3741000242102",
  "language": "en-us",
  "url": "http://snomed.info/sct/version/20180731",
  "identifie

[2020-02-21 10:55] #473 closed, assigned to cmark

[2020-02-22 10:41] cmark commented on #426
Hi @ivelina-yordanova,

Sorry for my late reply.
This work has been delayed due to higher priority tasks for the release of Snow Owl 7.4.0, such as Elasticsearch 7.x support, performance improvements, stability. The 7.4.0 will be released on Monday, 24th of Feb here on GitHub.
We will likely include the FHIR API URI/$lookup changes in the next 7.5.0 release.

Cheers,
Mark

[2020-02-22 14:14] cmark commented on #484
Hi @martinmart92,

The branch `MAIN/2018-07-31` was created by you or by the RF2 importer?
If by the RF2 importer, you could create a new `SNOMEDCT-UK` child branch under the `2018-07-31` branch to separate the version branch and the UK content properly.
Then you could create the branch `A` under the SNOMEDCT-UK child branch, so at the end it would look like this `MAIN/2018-07-31/SNOMEDCT-UK/A`.
A

[2020-02-24 11:00] martinmart92 opened #496 "SnowOwl and AWS-Elasticsearch compatibility (versions)"
hi! Sorry it's a quick question.

Is latest SnowOwl 7.x version compatible with Elasticsearch 7.1?

We're using AWS Elasticsearch and the latest supported version is currently 7.1.

From inspecting SnowOwl's latest commit it seems to currently require 7.5.2 is that correct? We haven't tried it yet but just wanted to double check with you guys first.

Thanks!

[2020-02-24 11:06] cmark commented on #496
Hi @martinmart92,

Yes, the latest Snow Owl 7.x Docker image does support Elasticsearch 7.x (Elasticsearch `7.5.2` is the version we are using at the moment).

Cheers,
Mark

[2020-02-24 11:22] mattecasu opened #497 "Sub-en languages not indexed"
We have found examples of concepts with labels in some sub-English languages (e.g. 999000671000001103 - "National Health Service dictionary of medicines and devices realm language reference set) that are not returned by SnowOwl `concepts/search`. e.g. "serum urea level (observable entity) – snomed id : 1000951000000103".
Maybe SnowOwl does not index these languages by default? Is there a simple co

[2020-02-24 11:40] ivelina-yordanova commented on #426
Hi @cmark

That sounds great, will look out for this one.

Thanks

[2020-02-24 11:45] ivelina-yordanova opened #498 "Would it make sense to allow bulk requests for labels ?"
Hi,

We have a use case for querying multiple labels at once but this at the moment can only be done one by one, which results in a seemingly too high of a load for the server and it dies for a while, without returning anything.

I was  looking for a way to request them at once but could not find anything we could use. Have you considered adding this option to the snomedct api or are there concern

[2020-02-24 12:16] martinmart92 commented on #496
Good news! thanks, we will try compatibility, feel free to close this issue, I'll open it or a new one if something comes up.

[2020-02-24 14:44] ivelina-yordanova commented on #498
(continued ..) or maybe allow label expansion along with the relationship request for example ?

[2020-02-24 15:25] apeteri commented on #498
Hi @ivelina-yordanova,

The latter is indeed possible, by expanding any of the relationship's concept properties, and supplying a nested expand option for the property (the example query retrieves active, inferred relationships of `<<404684003 |Clinical finding|` with type `363698007 |Finding site|`):

[code]

[code]

You do get all concept properties for `destination`, in addition to description

[2020-02-24 16:10] ivelina-yordanova commented on #498
Hi András,

That's awesome, thank you!

I tried to find more info as to what can be extended for the relationships endpoint but didn't find much. Have I missed it? Do you have documentation about it? Is it different for each endpoint or is it common across all?

Thanks and regards,
Ivelina

[2020-02-24 17:17] apeteri commented on #498
Expansion of a property happens in overridden methods of `BaseResourceConverter#toResource(T)` and `BaseResourceConverter#expand(List<R>)`, eg. for `SnomedRelationship` objects in `SnomedRelationshipConverter`: https://github.com/b2ihealthcare/snow-owl/blob/4535427599a70961b55127f41b53a36d860d910e/snomed/com.b2international.snowowl.snomed.datastore/src/com/b2international/snowowl/snomed/datastore/

[2020-02-26 09:55] cmark opened #500 "Location headers are malformed in 7.4"
Location headers are malformed in the latest Snow Owl 7.4 release. Example:

     http://localhost:8080/snowowl/snomed-ct/v3/%7Bpath:**%7D/concepts/MAIN/124010009

[2020-02-26 09:59] #500 closed, assigned to cmark

[2020-02-26 12:32] ivelina-yordanova commented on #498
Right, OK, thank you for replying so quickly!

[2020-02-27 08:41] apeteri commented on #498
No problem! Do let us know if you have other questions or problems.

[2020-02-27 08:41] #498 closed, assigned to nobody

[2020-02-27 14:05] cmark commented on #497
Hi @mattecasu,

Snow Owl indexes all available language reference set members and descriptions and makes them available for search by default.

The `Accept-Language` header controls both the underlying `term` search and the `pt()`/`fsn()` expansion when making a search request. The header format supports the standard language tags and weights (https://developer.mozilla.org/en-US/docs/Web/HTTP/Head

[2020-02-27 14:05] cmark commented on #496
Cool! Closing this one then.

[2020-02-27 14:05] #496 closed, assigned to cmark

[2020-03-02 09:50] mattecasu commented on #497
Thanks a lot Mark!
I noticed that on some endpoints there are also other ways of asking/filtering for the language (e.g. `descriptions/search` has "languageCode"), the Accept-language header being one of them. Is it advisable to always prefer the header?

[2020-03-02 10:54] cmark commented on #497
Hi @mattecasu,

The `languageCode` is a property of a SNOMED CT Description. That filter will match the `languageCode`s stored in the description itself. See more details here:
https://confluence.ihtsdotools.org/display/DOCRELFMT/4.2.2+Description+File+Specification

The `Accept-Language` header controls the display language used for filtering by term and when expanding `pt()` and `fsn()` for a co

[2020-03-02 11:15] mattecasu commented on #497
Thank you again for the clarification Mark. What I have in mind is more what happens with descriptions that are not pt or fsn. For example, if we want `en-gb`, non-preferred descriptions, at the moment we get all descriptions and filter them by looking at the acceptability map.

[2020-03-02 13:06] cmark commented on #497
Regarding searching all descriptions participate in the search process, be it `preferred`/`acceptable`, so you are able to find a concept via any of its descriptions using the `term` filter.
Regarding expansion of `pt()` and/or `fsn()`, only preferred synonyms can be expanded as `pt()` and only preferred fully specified names can be expanded as `fsn()`, other descriptions cannot be expanded using

[2020-03-03 09:37] RichardChappell opened #502 "Showing the name of a reference set"
Is it possible to do something like the following to get the name when querying reference sets?

http://localhost:8000/snowowl/snomed-ct/v3/MAIN/refsets?limit=10&refSetTypes=SIMPLE&expand=id(expand(pt()))

The "expand=id(expand(pt()))" follows the model given for getting descriptions for referenced components of refset members

[2020-03-03 10:12] cmark commented on #502
Hi @RichardChappell,

This is not supported at the moment but it would be a great addition to the Refsets API feature set.

In the current version of the API, you can use the Concepts API to get all possible reference sets under the `Simple type reference set` concept using the ancestor filter or ECL, and get the labels and the refset properties via the expand parameter:

Request:
[code]

Response

[2020-03-03 10:39] RichardChappell commented on #502
Thanks, Mark. I will give it a try

[2020-03-03 10:39] #502 closed, assigned to cmark

[2020-03-05 19:20] martinmart92 opened #510 "error importing latest Snomed UK Snapshot"
Hi!
I am trying to import the latest snomed UK Snapshot (SNOMEDCT2_28.1.1_20200204000001 release files)

I created an archive `SnomedCT_UKClinicalRF2_PRODUCTION_20200204T000001Z.zip` and imported it in SnowOwl into `MAIN/2018-07-31/SNOMED-UK-2020-02-04` since it depends on Snomed International release 2018-07-31.

I get a failed import and the following errors:

[code]

After investigation and rem

[2020-03-06 12:58] RichardChappell opened #512 "Sorting results"
I am calling the following

 http://localhost:8000/snowowl/snomed-ct/v3/MAIN/concepts?term=should%20pa&semanticTag=finding&active=true&expand=descriptions()

I am getting this list of concepts (with their descriptions, ignoring inactive)

35737003   - Shoulder-pad sign (finding)
                     Shoulder-pad sign
45326000   - Shoulder region pain
                     Shoulder pain

[2020-03-18 10:42] ivelina-yordanova opened #514 "Snapshot import prereqs and branching model question"
Hi,

I've been trying to import  just a snapshot of SNOMEDCT but I've been having some issues.

1) this only works if the snapshot is imported directly in MAIN. It does not create a version branch for that snapshot even with the respective flag set.

2) then I tried to create a branch and import the snapshot into that version branch but I get an error saying that the ontology has to be in MAIN bef

[2020-04-07 09:58] cmark commented on #514
Hi @ivelina-yordanova,

Could you please try with the latest version using the new RF2 import endpoint (`/:path/import`)?
You should be able to import just a `Snapshot RF2`, it is not required to have a FULL RF2 import content on MAIN.
See the following work-in-progress [Extension documentation](https://docs.b2i.sg/snow-owl/index-2) for any branch/Extension modeling question you have, and feel fre

[2020-04-07 10:11] cmark commented on #510
Hi @martinmart92,

Yes, the official UK release files oftentimes reference content that's missing from the files and it just cannot be imported on its own into a Snow Owl.
The approach you have taken to fix the errors looks good to me, you should eliminate any rows that reference missing components in any of the files in the release package.
Regarding the remaining errors, I see the Drug Extension

[2020-04-08 07:52] cmark commented on #497
Closing as resolved. Feel free to reopen if you have any further questions.

[2020-04-08 07:52] #497 closed, assigned to cmark

[2020-04-08 07:54] cmark commented on #477
Hi @psiotwo,

Could you please retry the compare with the latest Snow Owl 7.5 release without specifying the `limit` value?

Thanks,
Mark

[2020-04-09 13:51] ivelina-yordanova commented on #514
Hi @cmark,

That sounds amazing thank you. I'll update and experiment with it.

In terms of performance- yes, after some consideration we came to the conclusion we don't need the full history and it's not worth it keeping it. The hope is (and I think it will) this might give us some noticeable reduction in response times.

Thanks,
Ivelina

[2020-04-09 14:17] cmark commented on #514
Hi @ivelina-yordanova,

Yes, using just the Snapshot RF2 could indeed yield major performance improvements.

I'd like to mention just a few performance numbers from our deployments. This is what we consider as baseline performance numbers and configure the environment (ES node count, master, replicas, etc.) based on these and the requested non-functional requirements (SLAs, response times, etc.).

[2020-04-11 07:18] ivelina-yordanova commented on #514
Hi @cmark ,

I did few quick tests and it seems like now it's fine to import a snapshot in a MAIN subbranch without having it in MAIN, but only for the international, if I try to import UK's snapshot under that branch I still get an error that the ontology needs to be on MAIN i.e  intl in MAIN/<version> works without having anything in MAIN, but after that importing MAIN/<version>/UK is returning

[2020-04-14 06:39] cmark commented on #514
Hi @ivelina-yordanova,

It should be possible to import a `Snapshot` to any branch, even if `MAIN` is empty, if this is not the case then this might be a bug or missing feature.
Could you please also send me the request/response pair that shows the RF2 import attempts and failures?
Also, may I ask why would you like to keep the `MAIN` branch empty?

During Snapshots the `createVersions` argument i

[2020-04-14 07:36] ivelina-yordanova commented on #514
Hi @cmark,

Thanks for replying so quickly, that makes a bit more sense now.

In regards to my failed attempt at importing the snapshot, what I did exactly was:
1) after seeing snowowl does not get create version branch automatically on snapshot import, I created manually a branch ( using `/snomed-ct/v3/branches` , not the versions endpoint one you quoted above, might make a difference) i.e MAIN/2

[2020-04-14 07:56] cmark commented on #514
Hi @ivelina-yordanova,

That error message is from the 6.x version and should be removed I think. I'll raise an issue for this in our JIRA and will try to get it resolved in the upcoming 7.5.1 release (this Friday, April 17th).

Creating just a branch and not a version should work as well.
Versions are basically branches with extra information attached to them, similar to a git tag + branch with t

[2020-04-14 08:20] ivelina-yordanova commented on #514
Hi @cmark,

Ok that's weird then, because I did pull the latest from your 7.x branch before doing this, so I assume that should include the latest features you are talking about.

I think the misunderstanding is from the fact that I was trying to import the snapshot into the version branch, not MAIN, I was trying to leave MAIN empty and then importing an extension under the version branch, but see

[2020-04-14 10:32] cmark commented on #514
Hi @ivelina-yordanova,

The code that prevents RF2 imports on child branch under an empty MAIN is still present in the latest 7.x version.
See here: https://github.com/b2ihealthcare/snow-owl/blob/7.x/snomed/com.b2international.snowowl.snomed.datastore/src/com/b2international/snowowl/snomed/datastore/request/rf2/SnomedRf2ImportRequest.java#L137
Feel free to disable those checks in your fork and reb

[2020-04-14 11:30] ivelina-yordanova commented on #514
HI @cmark,

Thanks, I found the place before but still don't know much about the actual datastore so I was not sure exactly what implications this will have.

Depending on other priorities I might tests it or wait for the release and update our fork again.

Thanks this was very helpful.

Regards,
Ivelina

[2020-04-20 10:33] ivelina-yordanova commented on #514
Hi @cmark,

I just pulled the latest changes included in the 7.5.1 release.

I see that the validations in `SnomedRf2ImportRequest` are still there, so I am wondering is this because that is a valid requirement due to the way the datastore is organised or is is safe to remove it but it just slipped up in this release?

Regards,
Ivelina

[2020-04-20 12:41] cmark commented on #514
Hi @ivelina-yordanova,

Yes, those warnings are still there, we couldn't have the time to properly look into them. Feel free to remove them in your fork and report back if you find any errors when doing so.
I'll get back to you when we have more insights.

Cheers,
Mark

[2020-04-20 14:02] cmark commented on #512
Hi @RichardChappell,

Please apologize for our late reply.

Yes, there are a few key differences between the two searches you have used:

* The Browser is using a length based sorting approach to render shorter terms first.
* The Browser is probably using some degree-of-interest scoring (or we hope it does)
* The Browser is searching descriptions directly via a term filter and showing the concept

[2020-04-21 07:05] cmark commented on #426
Hi @ivelina-yordanova,

Just a heads up, this feature could not make it into the 7.5.x releases.
I'll let you know when we have the capacity to work on the issue and what will be the final release version that includes this feature.

Cheers,
Mark

[2020-04-21 07:10] cmark commented on #481
Now that Oracle officially released JDK14 it would be great to have both runtime and compile time support for that version.
Elasticsearch still did not officially announce support for JDK14, though:
https://www.elastic.co/support/matrix#matrix_jvm

[2020-04-21 07:15] cmark commented on #484
Hi @martinmart92,

One questions, did a server restart happen before the merge could finish (either accidentally or intentionally)?
If yes, then that is a bug in the server, after restart there might be stale locks lying around and those need to be cleaned during boot.
If you encounter such locks, you can force unlock them using the CLI available after you `telnet` or `ssh` into the OSGi console.

[2020-04-21 08:42] ivelina-yordanova commented on #426
Hi @cmark,

Thanks for the heads up, appreciate it.

We will probably proceed with what we already have for now.

Regards,
Ivelina

[2020-04-23 16:35] cmark commented on #477
There was a compare bug in the underlying revision compare functionality that in certain cases prevented changes to appear in the compare result. We've fixed that in 7.5.1 release. Resolving as fixed. Feel free to open a new ticket if you still experience the issue.

[2020-04-23 16:35] #477 closed, assigned to cmark

[2020-05-18 10:13] dwassing opened #559 "Using the Codesystem/$lookup endpoint"
Hello b2i,

I am sitting with an instance of Snow Owl running on Ubuntu 18.04 LTS, and I am having troubles making sense of the lookup endpoint of the FHIR API, using the SNOMED CT terminology.

- I have imported SNOMED CT RF2 files through the imports endpoint in the SNOMED CT API.
- I am able to query concepts through the SNOMED CT API.
- I set the parameter of createVersions to **true** when im

[2020-05-18 12:47] cmark commented on #559
Hi @danwa223,

Thank you for reporting your issue.
Unfortunately, the RF2 Snapshot import does not support the `createVersions` parameter and basically ignores that setting. This is due to the fact that in a Snapshot only the latest version is available for each concept and a decision was made a long time ago not to create the versions in this case, since they are not going to be consistent.
The o

[2020-05-18 13:16] dwassing commented on #559
Hello @cmark,

Thank you for your swift response! Your first workaround using the Admin API worked flawlessly, and I am now able to query as first intended. I want to point out that I tried option 2 before opening this issue, and that did not seem to yield any results (though I do not remember what specific error output that gave me...). But now, both the following URIs will do the trick:
`http://

[2020-05-18 17:43] cmark commented on #559
Hi @danwa223,

Glad to hear that it worked.
I think Option 2 fails if there are no versions present in the system at all since `http://snomed.info/sct/900000000000207008` defines the latest version implicitly, but Snow Owl is unable to find one. In this case, we could fall back to the current HEAD/development version.
I'll raise a bug report to track it and I'll also close this issue.

Regards,
Ma

[2020-05-18 17:43] #559 closed, assigned to cmark

[2020-05-18 17:48] cmark opened #561 "SNOMED CT FHIR $lookup fails if there are no versions present in the system"
**Describe the bug**
SNOMED CT FHIR $lookup throws an error if there are no versions present in the system after a successful RF2 Snapshot import.

**To Reproduce**
1. Import SNOMED CT from RF2 Snapshot release
2. Do NOT create any versions after successful import
3. Hit $lookup with `http://snomed.info/sct/900000000000207008` system parameter

**Expected behavior**
To return the desired code from

[2020-06-03 13:16] cristinacivili-work opened #578 "Issues with triggering the classification"
Hi,

I've been trying to use the classification endpoint in Snow Owl, without any luck so far.
Could you please clarify what are the expected values for the **reasonerId** field?

I know Snow Owl is equipped with ELK; I tried to input both "org.semanticweb.elk.elk.reasoner.factory" and "ELK 0.4.3", returned from the reasoners endpoint as *extendionId* and *name*, respectively, but it didn't work.

[2020-06-03 13:26] cmark commented on #578
Hi @cristinacivili-work,

An example request would look like this to trigger a classification on the MAIN branch:
[code]

The equivalent curl command:

[code]

I hope this works for you. Let me know if you have any further questions.

Cheers,
Mark

[2020-06-03 13:29] cristinacivili-work commented on #578
Hi Mark,
thanks for your prompt answer!

The one above looks like my first attempt. Any idea on what could cause a failure?

[2020-06-03 13:33] cmark commented on #578
Hi @cristinacivili-work,

Do you have access to the logs? That might have something that can be used to figure out what's the root cause of the issue.
The logs are located in Snow Owl's serviceability directory `<SO_HOME>/serviceability/logs/log.log`.
In case of using the official docker container, use the `docker logs <container-name>` command to access the logs.

Regards,
Mark

[2020-06-03 13:50] cmark commented on #578
Hi @cristinacivili-work,

Just tried on our latest 7.7.0-SNAPSHOT server, it works fine with those settings.
Here are the relevant log lines for reference:
[code]

Cheers,
Mark

[2020-06-04 09:52] mattecasu commented on #578
Thank you Mark, we will try with the latest version then. I have two related questions:
- What is the expected behaviour regarding inferred statements? Are stated and inferred statements disjoint sets, or should we expect the set of inferred statements to contain the stated ones too?
- Should we trigger the classification explicitly to produce inferred statements, or is it something internally sch

[2020-06-04 11:11] cmark commented on #578
Hi @mattecasu,

Please refer to the official SNOMED International documentations/papers regarding inferred statement generation:
https://confluence.ihtsdotools.org/display/DOCOWL/2.5.+Generating+Necessary+Normal+Form+Relationships+from+the+OWL+Refsets
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2243264/pdf/procamiasymp00002-0666.pdf

Snow Owl generates the NNF from the available stated definition

[2020-06-08 17:14] ivelina-yordanova commented on #514
Hi @cmark,

We finally had the chance to test this. I had commented out the check as suggested, then ran a SNAPSHOT import of International in a version branch, having all other data wiped out before that (do MAIN was empty).

The import job ran and finished with status `COMPLETED` but there weer a lot of issues returned as well. Also the cluster was left in a weird state - there are 2 unassigned

[2020-06-08 17:22] mattecasu commented on #514
Hi Mark, to add some more context, with Ivelina we are using a cluster that supports replicas. We tried to set SnowOwl initialisation to both 0 and 1 replicas, but got the same issue as above. CPU and heap seemed under control on all nodes though. But I wonder if we just need to increase the instance. We are using 4G, 2 CPUs per node.

[2020-06-08 17:23] ivelina-yordanova commented on #514
Hi again,

It's not directly related to this but sort of is:
we also noticed that the import fails with anything else but 0 replicas and the FULL import will not work at all under a slightly limited resources. Do you have a sort of list of prereq spec (memory, cpu, disk) for the ES cluster?

Thanks again

[2020-06-08 19:21] cmark commented on #514
Hi @ivelina-yordanova,

By `MAIN was empty` you mean you did not import anything onto MAIN? Correct me if I'm wrong, but your plan earlier was to create the following branch/content structure (I also suggested this in my earlier comment):

[code]

Regarding red cluster state, could you please extract additional information from your ES cluster to further investigate the issue?
This article might h

[2020-06-08 19:47] cmark commented on #514
Hi @mattecasu and @ivelina-yordanova,

To properly tell what's causing the issue during import and why it fails to import FULL content on a full ES cluster, we might need more information than the node hardware config (like number of nodes, replicas, master and data nodes, other processes/applications that using the cluster, cluster configuration, node configuration files).

What we usually recomm

[2020-06-10 09:34] mattecasu commented on #514
Thank you Mark, we were able to import the snapshot following your original suggestion, and disabling the check (in our fork). We needed a bigger instance though.

[2020-06-10 21:12] cmark commented on #514
Hi @mattecasu,

Glad to hear that.
Are you able to query content from both MAIN and the child branches?
May I ask what was the cause of the RED cluster state and also what was the instance size that worked for you in the end?

Cheers,
Mark

[2020-06-13 12:50] #510 closed, assigned to cmark

[2020-06-15 14:49] ivelina-yordanova commented on #514
Hi @cmark,

In the end the size that worked for us is the c5.4xlarge(16 CPU, 32G memory), we managed to also increase the replica count and all worked as expected during the import following your suggestion - imported International in MAIN and the created the version (not import in a version branch and leave MAIM empty as I understood initially).

The RED state was caused by many shards being left

[2020-06-15 18:30] cmark commented on #514
Hi @ivelina-yordanova,

Glad to hear the RED cluster state got resolved eventually.
Could you please raise another issue here on GitHub related to that compare issue? Thanks!
One thing to note: the `/reviews` API is deprecated and we always recommend the use of  `/compare`.
It should behave the same way in all environments, all endpoints should behave the same way in all environments and regardles

[2020-06-16 13:27] ivelina-yordanova opened #589 "Compare endpoint returns empty diff"
**Describe the bug**

We have 2n environments with different setup and in one the /compare endpoint works as expected whereas in the other it always returns an empty diff.

The differences between the 2 environments are the following:
- env 1)  has an increased replica count ( 1 ) and SNOMED International is imported only as a snapshot in MAIN, where after the import we created a version branch, t

[2020-06-16 13:29] ivelina-yordanova commented on #514
Hi @cmark,

Yes, sure. raised it as a bug [here](https://github.com/b2ihealthcare/snow-owl/issues/589). Tried to add as much details as possible but if anything is unclear, let me know.

Thanks,
Ivelina

[2020-06-19 09:25] cmark commented on #514
Hi @ivelina-yordanova,

Thank you for reporting another bug regarding the compare issue.

FYI: we have changed the RF2 import release type vs existing content validation in this commit, which will soon land on the 7.x stream and will be released in the upcoming 7.7.0 release.
https://github.com/b2ihealthcare/snow-owl/commit/2fa6ea8243041b4013158c1df1e4a5f77b680673

Can we close this issue now? Any

[2020-06-19 10:39] #512 closed, assigned to cmark

[2020-06-22 16:47] cristinacivili-work opened #594 "Question about creation of new concepts in different branches"
Hi,
we are experimenting with the creation of new concepts in different branches, and we noticed an inconsistent behaviour.

So assume we have a concept A in branch B1.
If we create a new concept C with A as parent, we notice the following:
- if we create C in B1, A is marked as a statedParent of C and a relationship of type ISA is created between C and A,
- if we create C in a branch B2 and then

[2020-06-23 07:50] cmark commented on #594
Hi @cristinacivili-work,

We will investigate this, but this should not happen and if it does then that is a bug.
Could you please tell me the exact branches you have used? Was `B1` the `MAIN` branch?
Is there any relationship between `B1` and `B2` branches?
We have several automated test cases that ensure that branch merging makes all content from the B1 branch visible to the B2 branch.
Usually,

[2020-06-23 08:32] cristinacivili-work commented on #594
Good morning Mark,
thank you for your reply.
I can confirm that the second branch is a direct child of the first one and we are merging the child branch into the father. The structure is as follow:

- Father: MAIN/SNOMEDCT_UK/B1
- Child: MAIN/SNOMEDCT_UK/B1/B2

I forgot to mention that we are also deleting the child branch after the merge, but i don't expect this to be an issue if the merge has wo

[2020-06-27 07:40] #484 closed, assigned to cmark

[2020-07-07 10:10] ivelina-yordanova commented on #514
Hi @cmark,

Just updated to the latest release and noticed one of the changes is

Just wanted to confirm if this means that we can now import International snapshot into a sub-branch of MAIN and create a whole branching structure below that or is it still recommended to import into MAIN?

Are there any limitations to either approach?

Thanks,
Ivelina

[2020-07-07 11:16] cmark commented on #514
Hi @ivelina-yordanova,

Yes, we have removed all unnecessary validation rules from the import endpoint.
You should be able to create your own branching structure and import content directly to child branches as opposed to directly on MAIN.
This document might serve as a guideline what to store and where:
https://docs.b2i.sg/snow-owl/index-2

Our recommendation still is to go with the MAIN === INT

[2020-07-13 17:05] ivelina-yordanova commented on #589
Hi @cmark,

In the latest release 7.7.0 this original issue seems to have been fixed, thanks it was very useful.

However, now this same endpoint is behaving odd in a different way - it returns empty diff at random.

Steps to reproduce:
- create a branch
- create a concept in that branch
- update branch
- compare
loop over these steps few times and at random some of the compare responses contain e

[2020-07-14 10:50] cristinacivili-work commented on #578
Good morning Mark,
unfortunately we are still experiencing issues with triggering a classification run.

When I start a new classification task on a branch (exactly as you suggested above), the classification is created and then stays in a SCHEDULED state for days. So far we haven't been able to see any of these scheduled tasks change status.

In the DEBUG logs I see a pattern repeating every five

[2020-07-21 12:29] dwassing opened #613 "Using the FHIR ConceptMap/$translate endpoint"
Hello b2i!

First I would like to point out that there is already an [issue on this topic](https://github.com/b2ihealthcare/snow-owl/issues/435), but it looks quite abandoned and therefore I decided to open a new one, please close this issue if it is out of place/duplicate and I will turn to the other one.

I am concluding my performance research on the OSS version of Snow Owl (7.6.0), but before

[2020-07-22 18:06] cmark commented on #613
Hi @danwa223,

Thank you for reporting your issue.
It is very likely that the problem is coming from the fact that there is no machine readable information to initialize the ICD-10 mappings supplied with the official SNOMED CT RF2 International release and they require additional changes to be properly recognized as possible targets, and by doing so they will properly returned by the `$translate`

[2020-07-22 19:28] cmark commented on #594
Hi @cristinacivili-work,

Sorry for my late reply.
I'll create a simple test case to verify that deleting the child branch after merging it into the parent in fact does not cause any issues.

Get back to you soon.
Cheers,
Mark

[2020-07-22 19:31] cmark commented on #589
Hi @ivelina-yordanova,

I'm glad the fix worked for you.
May I ask for information about your current setup on top of replica count? Any specific Elasticsearch configuration, other node types, anything else? Thank you!

In the meantime, I'll investigate why the compare endpoint behaves this way.

Cheers,
Mark

[2020-07-22 20:43] cmark commented on #594
Hi @cristinacivili-work,

It looks like the described functionality works as expected (see test cases above), even if we delete the child branch after merging it into the parent. Searching and retrieving content works just fine.
Another thing that comes to my mind is an Elasticsearch cluster issue, where a search does not return the desired results due to inconsistencies in the indexes and that co

[2020-07-23 08:21] dwassing commented on #613
Hello @cmark,

Thank you for your response. I understand this might be tricky to solve. If there is anything I can do to be of assistance here, do let me know.

Regards,
Daniel

[2020-07-23 16:00] cmark commented on #613
Hi @danwa223,

In its current form in the latest 7.7.0 release using just the official RF2 files Snow Owl is unable to properly detect the target codesystem for a mapping reference set and set it so it can be used for FHIR translate requests.
We have quite a few workarounds to mitigate this, but none of them will use the HL7 URI for ICD-10 targets (`http://hl7.org/fhir/sid/icd-10`).

Creating eith

[2020-07-24 13:18] cmark commented on #594
Hi @cristinacivili-work,

I think we have found the issue and working on the fix.
May I ask, did you perform a rebase (parent -> child merge) before merging the content from the child to the parent?
If yes, then there is a bug that makes the content before the sync point invisible, therefore when merging the child into the parent, only the changes made after the synchronization point get actually

[2020-07-27 08:56] cristinacivili-work commented on #594
Thank you for your help Mark,
it was some time ago and I have been unable to reproduce the issue recently, but it is possible that we performed a rebase.
If we spot the same issue again I will make sure to track if a rebase is also involved.

May I ask you to take a look at this other issue that we are experiencing  https://github.com/b2ihealthcare/snow-owl/issues/578?

Thanks again,

Cristina

[2020-07-27 15:18] dwassing commented on #613
Hello @cmark

It is indeed not an optimal solution, but I am interested regardless, depending on the simplicity of the operation. If it does not take you too much energy then an explanation on how to do this would be nice to have.

I am running the 7.6.0 release on linux installed from your tar.gz distribution. Do I need to update to 7.7.0?

Regards,
Daniel

[2020-07-28 16:31] ivelina-yordanova opened #619 "Libraries repo"
Hi,

This might have been asked already but couldn't find any information online or in the repo as to why there is no recent versions released [here](https://mvnrepository.com/artifact/com.b2international.snowowl).

Is there a way to pull the latest libs from somewhere? We are currently working around that by just building them ourselves but we are trying to move away from that option and wonderin

[2020-07-29 13:57] cmark commented on #594
Hi @cristinacivili-work,

This issue is now potentially fixed by PR #621.

Regarding the classification issue, not sure if we will have time to look at it before the upcoming 7.8.0 release, but we will definitely do so in the next 7.9.0 release.

Cheers,
Mark

[2020-07-29 15:08] cmark commented on #619
Hi @ivelina-yordanova,

Those packages have been uploaded by the maintainer of this fork: https://github.com/IHTSDO/snow-owl.
That version of Snow Owl has been altered slightly compared to our vanilla version and those packages have been used by them mainly.
Unfortunately, we do not maintain any publicly available artifact repositories at the moment from where you could download Snow Owl's librari

[2020-08-05 08:57] cmark opened #626 "Search performance issue when using Elasticsearch [7.7.0, 7.8.x]"
**Describe the bug**
Significant performance drop in searches/aggregations when using Elasticsearch 7.7.0+ in Snow Owl 7.7.0+ release.

**To Reproduce**

Run a validation rule that uses either a search or aggregation with a large number of terms filter values (all active concept IDs listed, huge ECL/QL result set, etc.).

**Expected behavior**
Running any search with large number of term filter va

[2020-08-05 09:04] cmark commented on #594
Hi @cristinacivili-work,

I'm closing the ticket now, as we have released 7.8.0 with the fix.
Also, I'd like to raise your attention of this performance issue #626.

Regards,
Mark

[2020-08-05 09:04] #594 closed, assigned to cmark

[2020-08-10 17:38] incansvl opened #632 "Match filters / wildcards in GET queries?"
SnowOwl: 7.8.2
Endpoint: /snomed-ct/v3/branches (GET)

First experiments in using the RESTful services in Snow Owl. Documentation is lacking, so it's hard to work out what is possible.

Situation
---------
I'm working on a decendant module of the SNOMED International MAIN branch. I thought it was configured as grandchild, but the paths are exposed via REST as **MAIN/<main_ver>/MODULENAME/<module_v

[2020-08-11 08:48] cmark commented on #632
Hi @incansvl,

Thank you for raising your issue.

This is not possible at the moment, `path` arguments do not support regular expressions nor wildcards.

The branch path endpoints are designed to work with the actual branches in the low-level system, create sandboxed environments, merge them, etc.
When you are looking for the latest version of a CodeSystem, say for your SNOMED CT Extension, use th

[2020-08-11 10:32] incansvl commented on #632
Thanks for the information. Whether this helps in my situation depends on what you mean by "version".  At least some of the time I am looking for pre-release (unversioned) content, which appears to be represented in the branch hierarchy by paths ending in numbers (task IDs?). If unversioned content does not appear under the /admin/codesystems endpoint then that would not be an option.

However the

[2020-08-11 11:50] cmark commented on #632
Hi @incansvl,

A version is similar to a Git tag, a point in time which you would like to reference at a later point in time (a release for example).
See this link for more info: https://docs.b2i.sg/snow-owl/index/basic-concepts#version

The `/admin/codesystems` endpoints are responsible for returning the Code Systems and the corresponding Code System Versions (for example the SNOMED CT 2020 July

[2020-08-11 12:32] incansvl commented on #632
Thanks Mark, I'm somewhat familiar with Git (at a very inexpert level). When I looked at the way we were using SO in the UK it seemed rather less general that Git, but it appears those may be 'habits' rather than limitations of the tool. I clearly need to read the docs rather than looking at current practice ;-)

[2020-08-18 10:18] cmark commented on #514
Closing as answered and resolved. Feel free to open another ticket if you have any further questions.

[2020-08-18 10:18] #514 closed, assigned to cmark

[2020-08-18 11:47] cmark commented on #578
Hi @cristinacivili-work,

Could you please try to set the log level to TRACE to see if there are any additional log messages coming from the classification service?

Thanks,
Mark

[2020-08-19 15:18] #626 closed, assigned to cmark

[2020-08-19 15:19] cmark commented on #626
Elasticsearch 7.9.0 is available, and Snow Owl now supports that, resolving as fixed.

[2020-09-04 15:12] cmark commented on #466
Closing due to inactivity.

[2020-09-04 15:12] #466 closed, assigned to cmark

[2020-09-07 13:31] colin-e-nhsd opened #655 "Minor enhancement: Put the full server version on the API Docs pages"
The (Swagger?) API documentation pages served up by the server display the API version number (e.g. 3.0) but not the release number of the server code (e.g. 7.8.2). Making the server version readily available would simplify accurate reporting of bugs and feature requests.

My request is to have the server version tag displayed on every API documentation page, ideally in the header.

In the page fo

[2020-09-07 13:46] colin-e-nhsd opened #656 "API Doc "try it out" function hangs for API Path- /snomed-ct/v3/{path}/concepts"
**SnowOwl**
Version: 7.8.2 (I believe, see earlier feature request)

**Steps to Reproduce**

1. Open a browser window on the server API documentation pages (<host address>/snowowl/)

1. Select the SNOEMED CT API page from the navigation

1. Select the interface to GET Concepts from a branch (/snomed-ct/v3/{path}/concepts)

1. Click the "Try it out" button

The interface will now hang, and then tim

[2020-09-07 18:52] cmark commented on #655
Hi @colin-e-nhsd,

Thank you for reporting this feature request.
I agree this would be a great addition to the server API docs and we will investigate how this could be integrated.

In the meantime, please refer to the following endpoint to figure out the version of the server you are working with:

[code]

This returns a JSON object like this:

[code]

I hope this helps.

Cheers,
Mark

[2020-09-08 12:12] colin-e-nhsd commented on #656
This was reproducible yesterday in multiple browsers, but not this morning. Closing as it is not reproducible.

[2020-09-10 13:30] ivelina-yordanova opened #658 "Exception when processing ECL request"
**Describe the bug**
When searching a concept by ECL expression that includes a wildcard `*`, the server throws exceptions and response with 500. After looking a bit into this it seems like the root cause of the issue is the ElasticSearch cluster size - there are network limits, different for the different cluster sizes https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/aes-li

[2020-09-10 17:10] cmark commented on #658
Hi @ivelina-yordanova,

Thank you for reporting the issue.
Yes, this is something that has been reported from other sources, where AWS is being used.
We will take the time to limit the size of the requests Snow Owl sends to an ES cluster, but at the current state this is not supported.
As a possible workaround, in some cases limiting the ECL query or splitting up the ECL query manually on the inpu

[2020-09-11 08:02] cmark commented on #656
Hi @colin-e-nhsd,

Thank you for reporting this issue.
Yes, this happens sometimes, because the SNOMED CT model has a recursion in it, and the current Swagger UI version does not support them very well. Opening up multiple endpoints can crash the API docs site and require a full page refresh in order to open the specific endpoint. We are planning to migrate the current version to the new one, to s

[2020-09-11 10:54] colin-e-nhsd opened #659 "Issue/Enhancement- Make the expand option in the REST interface consistent with other options"
SnowOwl: 7.8.4
Endpoint: /snomed-ct/v3/{path}/concepts

**Describe the bug**
The concepts endpoint has an _expand_ option. This option accepts a parameter defining multiple choices selected from any combination of the values: _fsn()_; _pt()_; and _descriptions()_

Issues:

1. The doc page does not define the syntax for the single string parameter (it accepts comma-delimited options)
1. The interfa

[2020-09-11 12:15] ivelina-yordanova commented on #578
Hi @cmark,

I managed to run a classification job and it finished successfully. However, there is no documentation about how to actually apply the changes found after that. Looking at the code I gathered I have to update the job to `SAVED` state. Did that but for the last few hours now it's been stuck in `SAVING_IN_PROGRESS`.

Do you know what I can do to check if it actually do something or how l

[2020-09-11 15:57] colin-e-nhsd opened #662 "Add the capability to provide an authentication token as a query parameter (MS PowerQuery compatibility)"
**Background**
I have been experimenting with using Microsoft Powerquery in Excel as a client via the RESTful interface to extract and report on SnowOwl data.

I started off using Basic Auth which worked as expected, however when I switched to trying to use an access token instead, I hit a problem. It took quite a bit of web searching to identify the problem.

It appears-
- SnowOwl currently only

[2020-09-11 16:27] ivelina-yordanova commented on #578
Hi @cmark,

After experimenting with different values I  managed to transition a job to SAVED state with:
- namespace - our own namespace
- module - our own module
- status  - SAVED
- assigner - randomly chose "extension" as I saw there are 2 implementation of the SnomedNamespaceAndModuleAssigner but that's probably not correct

this however resulted in loosing a whole lot of concepts and relation

[2020-09-14 10:37] ivelina-yordanova commented on #658
Hi @cmark,

Thank you for replying so quickly. I am suspecting the size limit is also the main issue we cannot save the results of the classification job (see [this issue](https://github.com/b2ihealthcare/snow-owl/issues/578)), which is quite important for us at the moment, so I was wondering if you have an approximate timeline or estimation when/ in what release do you expect to have a fix for th

[2020-09-17 09:12] cmark commented on #658
Hi @ivelina-yordanova,

Not 100% sure that the two issues are actually connected or one is the reason of the other, but if yes, then handling large filters and request body sizes in our Elasticsearch client layer will definitely solve the issue. I'd like to fix these issues as soon as possible and it will happen eventually, but I cannot guarantee any specific release version or any release date.

[2020-09-17 16:16] ivelina-yordanova commented on #658
Hi @cmark,

Completely understand.

Just wanted to share another observation in case that's useful - we did an experiment with a larger cluster, where the payload limit is 10x more and this worked for the classification issue and given the logs from the issue I assume they are for sure related.

Regards,
Ivelina

[2020-09-18 07:37] cmark commented on #658
Thank you!
Mark

[2020-09-21 17:51] bluemana opened #670 "Snow Owl doesn't start from source in Eclipse"
Hi,

Are there any additional steps required to start Snow Owl from source in Eclipse, other than those listed in the README? Bundles don't seem to locate implementation classes with the current setup. These are the steps to reproduce the problem:

1. Do a fresh install of Eclipse - Eclipse IDE for Eclipse Committers, Version: 2020-09 (4.17.0), Build id: 20200910-1200
2. Clone the `snow-owl` repo

[2020-09-23 19:57] cmark commented on #670
Hi @bluemana,

The setup looks okay, the only thing that could be missing are projects from your workspace.
Could you please confirm that all projects from the Git repository are imported and open in your workspace?

The application ID is defined in the `com.b2international.snowowl.server.product` module. Make sure that is part of the launch configuration on the Plug-ins tab when you have it impor

[2020-09-23 20:01] cmark commented on #659
Hi @colin-e-nhsd,

Yes, this is something we would like to enhance in the future to make the expansion API easier to use and accept array of values as well, not just a single String value.
We will definitely schedule this for an upcoming release.

Regarding the function-like behaviour. This is actually by design and some of the parameters that are accepted by the expand query parameter are actuall

[2020-10-01 13:20] bluemana commented on #670
Hi @cmark,

Yes, what I was missing was importing the projects into my workspace, thank you!

[2020-10-01 14:44] cmark commented on #670
Hi @bluemana,

Glad to hear that.
I'll close this issue, feel free to raise another one if you have any other questions.

Cheers,
Mark

[2020-10-01 14:44] #670 closed, assigned to cmark

[2020-10-11 10:44] cmark commented on #578
Hi @ivelina-yordanova,

I'm sad to hear you have lost data after you have performed a save through the classification endpoint.
This unfortunately originates from the same issue, Snow Owl does not yet fully support Elasticsearch clusters where the HTTP communication request size is limited to a certain amount. Snow Owl is currently limiting all save operations to `10Mb` of bulk action items (or `1

[2020-10-18 00:29] #632 closed, assigned to cmark

[2020-10-21 16:25] cristinacivili-work opened #699 "Issue with Delta import of Snomed Uk"
Hello,

We are having some issues with the import of a Delta Snomed Uk update.

This is our structure:
- MAIN/2018-07-31/SNOMEDCT-UK/2019-06-01 is our most recent branch
- SNOMEDCT2_28.0.0_20191001000001 is the oldest Snomed Uk update we need to import.

Our steps are the following:
- create a branch 2019-10-01 with parent MAIN/2018-07-31/SNOMEDCT-UK/
- import archive SNOMEDCT2_28.0.0_201910010000

[2020-10-22 08:08] cmark commented on #699
Hi @cristinacivili-work,

Could you please send us some relevant logs from Snow Owl to aid the investigation?
What kind of content you have imported and on which branch in your Snow Owl instance?
Is the `SNOMEDCT2_28.0.0_20191001000001` an official UK Clinical RF2 archive?

Usually, the import produces no commit because of the following two reasons:
* There is nothing to actually commit, because y

[2020-10-22 08:56] cristinacivili-work commented on #699
Hi Mark,
thank you for your reply.

**SNOMEDCT2_28.0.0_20191001000001** an official UK Clinical RF2 (Delta only) archive.
Our installation is in sync with releases up to June 2019, and this is the first Delta we need to import to update our data.

The current content is in branch **MAIN/2018-07-31/SNOMEDCT-UK/2019-06-01** while the import attempt was in branch **MAIN/2018-07-31/SNOMEDCT-UK/2019-10

[2020-10-22 17:35] cmark commented on #699
Hi @cristinacivili-work,

That is the source of the issue then.
The branch `2019-10-01` does not have any UK content, neither on that branch directly nor on the parent branches.
I would expect the UK content to be present on the SNOMEDCT-UK branch and the `2019-06-01` branch an "empty" version branch. By empty I mean like a Git tag, a reference to a point where the UK content represents the 2019-0

[2020-10-23 14:42] cristinacivili-work commented on #699
Hi @cmark,
thank you very much for the explanation, I was finally able to import the archive by importing directly into **MAIN/2018-07-31/SNOMEDCT-UK**.
In order to do so, however, I also had to amend manually the archive by removing the IDs that were causing validation errors. This operation is very time consuming and error prone. Is there a way to configure the import so that the validation erro

[2020-10-25 15:15] cmark commented on #699
Hi @cristinacivili-work,

Yes, I understand hacking the RF2 file is not the best solution when it comes to importing it without errors into Snow Owl.
So far, we have used internal tools and other scripts to modify the content of an RF2 archive to make it importable into Snow Owl, but that is unfortunately cannot be open sourced yet.
At the moment, there is no way to filter out components that refe

[2020-10-29 15:52] cristinacivili-work commented on #699
Hi @cmark,
thanks again for your help.

I was able to make progress with the delta updates, but I'm now stuck with one specific archive.
It's the Delta Snomed UK Release of May 2020 (here https://isd.digital.nhs.uk/trud3/user/authenticated/group/0/pack/26/subpack/104/releases).

I am getting a lot of validation errors referring to missing IDs contained in the file der2_cRefset_CareRecordElementDel

[2020-11-12 23:33] colin-e-nhsd opened #712 "Publishing PreRelease content (to OntoServer)"
Our aim is to develop new SNOMED content in volume for Pathology in the UK using a more Agile approach than has been taken in the past. One part of this is to be able to publish pre-release content quickly and easily to users so they can provide feedback before the content is "solidified" in a Live SNOMED release.

Ultimately this could support daily Beta release builds as implemented (I believe)

[2020-11-12 23:37] colin-e-nhsd opened #713 "Publication of Live and Pre-Release content to OntoServer Terminology Server"
Our aim is to develop new SNOMED content in volume for Pathology in the UK using a more Agile approach than has been taken in the past. One part of this is to be able to publish pre-release content quickly and easily to users so they can provide feedback before the content is "solidified" in a Live SNOMED release.

Ultimately this could support daily Beta release builds as implemented (I believe)

[2020-11-12 23:41] #712 closed, assigned to nobody

[2020-11-12 23:42] colin-e-nhsd commented on #712
With apologies- this RFE was inadvertently submitted twice due to a session timeout. Closing one copy.

[2020-11-13 14:22] cmark commented on #713
Hi @colin-e-nhsd,

Thank you for raising your issue here on GitHub.

I'm going to answer most of the questions here on our public channel related to the open-source parts of our terminology server, but for further discussions of this matter, I recommend contacting us via our [support channel](mailto:support@b2i.sg).

Requirements:

This file is already being generated by Snow Owl's RF2 export in a

[2020-11-13 16:21] colin-e-nhsd commented on #713
Hi Mark, thanks for the response. Happy to continue the conversation on the details through the support channel. One item is worth discussing here though. On-

The reference provided by the OntoServer team for this is https://confluence.ihtsdotools.org/x/9Ia2AQ although I can see this just describes the **_Time_** (full timestamp) data type, not it's intended uses.

The table definitions for impor

[2020-11-13 16:57] cmark commented on #713
Hi @colin-e-nhsd,

Yes, we couldn't find that information in the official docs either, only the page you have referenced that describes the Time Data type, which indeed supports times, not just the date, but there were no actual use cases for it.
These might be the first real-world use cases that require date+time in `effectiveTime` values, thank you for sharing them.
Snow Owl has the ability to r

[2020-11-22 09:19] cmark commented on #699
Hi @cristinacivili-work,

I'm happy to hear you were able to make progress.

Yes, UK RefSets often refer content from another extension, especially if the member is coming from the UK EDITION.
There are two ways to resolve such errors:

1. Remove those lines from the RF2 archive: in case you don't need that content, feel free to remove it, to help you identify lines like that we have made a small

[2020-12-17 09:58] cmark commented on #699
Hi @cristinacivili-work,

FYI: The latest version has an improved RF2 import API, where you will be able to run the import process in `dryRun` mode, where only the validation phase is going to be executed and the actual import will be skipped. The response object should also contain information about potential import file defects and aid you in locating and resolving them.

Let us know what you th

[2020-12-29 12:14] #699 closed

[2020-12-29 12:16] #619 closed

[2021-01-08 17:31] cmark opened #738 "Concept Search API semanticTag filter issue"
**Describe the bug**
Applying both the `term` and `semanticTag` filter parameters might return fewer results because the semantic tag is applied to the internal description search and not to the concept search.

See discussion #737 for further details.

**To Reproduce**
[code]

This returns an empty list but there is at least one concept that has a description `Achalasia of oesophagus` and the sem

[2021-01-08 17:42] apeteri commented on #738
It is possible for a concept to have an FSN in multiple languages; in such cases, which semantic tag would we assign to the concept? Would it be OK to return a result for eg. `stomach` and `trastorno` (Spanish for "disorder")?

[2021-01-08 17:53] cmark commented on #738
We will either index all active FSN semanticTags on the concept in an array or run two description searches, one for the semanticTag filter and one for the term filter (which can be costly). We already have the preferredDescriptions indexed, so we could improve that as well, adding a semanticTag field to it and searching that instead.

[2021-04-22 19:44] EranHashmo opened #797 "Contribution by code smell removal"
Hi

I am a cs student attending a course in open source.
As a part of the course, I am participating in an experiment about smells in code.

The task I was given is to contribute to an open source project by removing smells found by checkstyle.
May I contribute to this project?

The smell I would like to remove is an NPath complexity violation at:
snomed/com.b2international.snowowl.snomed.datastor

[2021-04-23 08:29] cmark commented on #797
Hi @EranHashmo,

Sure, go ahead, feel free to modify that class 🙂. Make sure you agree to our [CONTRIBUTION](https://github.com/b2ihealthcare/snow-owl/blob/7.x/CONTRIBUTING.md) guidelines and then use the `7.x` branch as base branch to create your PR.
If you have any questions, feel free to contact me here.

Cheers,
Mark

[2021-04-23 08:42] cmark commented on #656
This issue is currently being investigated and improved on this branch:
https://github.com/b2ihealthcare/snow-owl/tree/improvement/replace-swagger-ui-rapidoc

Swagger UI is a bit hard to handle and manage at this point and the responsiveness of the interface became unbearable (and non-deterministic) in the past few months, so we are thinking about replacing it with a better alternative that offers

[2021-04-23 08:46] cmark commented on #658
Hi @ivelina-yordanova,

Do you have any updates on this? Did you encounter the occasional failures of ECL evaluation either in your dev or prod environments?
We have made several improvements to proper Elasticsearch request sizing in recent releases, but some of the areas might need extra care.

Any update on this is greatly appreciated.

Thank you,
Mark

[2021-06-03 17:44] #797 closed, assigned to cmark

[2021-07-07 13:31] cmark commented on #738
Fixed in commit https://github.com/b2ihealthcare/snow-owl/commit/645f6a8d82ebdb1c26995e1b6d0bac46fa2641c8.

[2021-07-07 13:31] #738 closed, assigned to cmark

[2021-07-09 09:13] cmark commented on #656
The fix for this issue has been pushed to the 8.0.0 major release, which is expected around the end of July/early August.

[2021-07-15 14:05] cmark commented on #426
Hi @ivelina-yordanova,

Due to some recent improvements and reimplementation of Snow Owl's internals for the upcoming 8.0 release, we have been able to resolve this issue and provide the capability to properly `$lookup` a concept in extension.
Stay tuned for the 8.0 release announcement.

Cheers,
Mark

[2021-07-15 15:27] cmark commented on #561
This bug has been also fixed with the recent 8.0 improvements and it will be available in the 8.0 release.

[2021-07-19 12:46] cmark commented on #662
Hi @colin-e-nhsd,

Sorry for my late reply here. It is possible to provide an authentication token via a query parameter named `token`.

Example:
[code]

Feel free to test it out when you have the time.
I'm going to close the ticket now, but if you find something is not working feel free to reopen it.

Cheers,
Mark

[2021-07-19 12:46] #662 closed, assigned to cmark

[2021-07-19 13:43] apeteri commented on #662
Do note that web server access logs, browser history, caching proxies and possibly other components in the request chain might retain a copy of your access token if it is passed in via a query parameter. While request headers are not exempt from logging either, the URL is more likely to be retained in its entirety.

[2021-09-15 09:13] okongwu101 opened #894 "UNABLE TO IMPORT SNOMED AFTER INSTALL"
**Hi. So i installed snow-owl using the docker image. The installation appear to be working as i entered this in the prompt:**

`curl http://localhost:8080/snowowl/admin/info
`

**and got the following response:**

`{"version":"7.17.3","description":"You Know, for Terminologies","repositories":{"items":[{"id":"snomedStore","health":"GREEN","diagnosis":"","indices":[{"index":"snomedstore-branch","s

[2021-09-15 12:20] cmark commented on #894
Hi @okongwu101,

Thank you for checking out Snow Owl.
It looks like the `curl` command you have tried missing a few required parameters to work properly.
I recommend using the newer `POST /snomed-ct/v3/{path}/import` endpoint instead of the deprecated `POST /snomed-ct/v3/imports` (the latter will be removed in the upcoming 8.x release).

An example curl command to import the latest International R

[2021-09-15 12:45] okongwu101 commented on #894
Hi @cmark ,
Thank you for the quick response. Will try it and get back to you.

[2021-09-15 13:47] okongwu101 commented on #894
`{"status":401,"code":0,"message":"Missing authorization token","developerMessage":"Missing authorization token","statusCode":401,"errorCode":0}`

That was the error message i got. How do i acquire the authorization code? Any guide on how to use it? Thanks in advance.

[2021-09-15 14:05] cmark commented on #894
Did you set up any form of authorization? If no then the default file-based authorization is in place with a single default user `username: snowowl, pass: snowowl`. (for production deploys please use a strong password or configure LDAP-based authorization).
You can use the Base64 encoded form of the `username:password` string in a header when you send any HTTP request to Snow Owl:
[code]

I hope t

[2021-09-15 16:09] okongwu101 commented on #894
Worked ! Thanks a lot. Up to the next brick wall.

[2021-10-29 21:19] cmark commented on #416
Hi @psiotwo,

It's been a while. I just want to let you know that the `/metadata` endpoint is now available in the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release.

Cheers,
Mark

[2021-10-29 21:19] #416 closed, assigned to cmark

[2021-10-29 21:21] cmark commented on #426
Hi @ivelina-yordanova,

The `$lookup` operation now properly recognizes extension SNOMED CT URIs with modules and dispatches requests to the correct content so extension concepts are finally coming back via FHIR API nicely regardless where are actually located in the branch system. See release [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) for details.

Cheers,
Mark

[2021-10-29 21:21] #426 closed, assigned to cmark

[2021-10-29 21:22] cmark commented on #486
This feature is now available in version [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0).

[2021-10-29 21:22] #486 closed, assigned to cmark

[2021-10-29 21:23] cmark commented on #561
The fix for this bug is now available in the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release.

[2021-10-29 21:23] #561 closed, assigned to cmark

[2021-10-29 21:24] cmark commented on #494
Hi @psiotwo,

The `$validate-code` operation has been rewritten from the ground up to support all scenarios. Feel free to check it out if you'd like in the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release.

Cheers,
Mark

[2021-10-29 21:24] #494 closed, assigned to cmark

[2021-10-29 21:26] cmark commented on #656
Hi @colin-e-nhsd,

The new, improved API documentation site is now available in the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release. Feel free to check it out, if you have the time.

Cheers,
Mark

[2021-10-29 21:26] #656 closed, assigned to cmark

[2021-10-29 21:28] cmark commented on #658
Hi @ivelina-yordanova,

Multiple improvements have been introduced in the ECL processing and evaluation of the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release that hopefully help with the failures you have experienced in this ticket. Feel free to check them out.

As always, if you have any further questions or experience any other issues, raise them here.

Che

[2021-10-29 21:28] #658 closed, assigned to cmark

[2021-10-29 21:29] cmark commented on #659
Hi @colin-e-nhsd,

This feature is available in the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release. Feel free to check it out.

Cheers,
Mark

[2021-10-29 21:29] #659 closed, assigned to cmark

[2021-10-29 21:30] cmark commented on #713
Hi @colin-e-nhsd,

I consider this part of the ticket closed. If you need any further feedback on this feel free to contact us via our support channels.

Regards,
Mark

[2021-10-29 21:30] #713 closed, assigned to cmark

[2021-10-29 21:31] cmark commented on #894
Hi @okongwu101,

Do you still experience issues with your RF2 import? Have you been able to import any RF2 content successfully into your installation?

Cheers,
Mark

[2021-10-29 21:36] cmark commented on #435
Hi @psiotwo,

The `$translate` operation has been refactored and reimplemented in the latest [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) release. Feel free to try it out and reopen this ticket if you still find issues around it.

Cheers,
Mark

[2021-10-29 21:36] #435 closed, assigned to cmark

[2021-10-29 21:38] cmark commented on #589
Hi @ivelina-yordanova,

We were unable to identify any issues around the branch compare functionality that would indicate a behavior like this. We will close this issue now. Feel free to reopen this one or create a new one if you still experience the issue.

Cheers,
Mark

[2021-10-29 21:38] #589 closed, assigned to cmark

[2021-10-29 21:40] cmark commented on #481
As Java 17 is now available as GA, I'll close this ticket in favor of upgrading our Java dependency to 17 when the required platform dependencies make it possible.

[2021-10-29 21:40] #481 closed, assigned to cmark

[2021-11-10 12:34] michael-schmid1 opened #935 "Support the "url" search parameter for both CodeSystem and ValueSet resources"
Hello,

it would be great if SnowOwl could support the "url" search parameter for CodeSystem and ValueSet resources. Reason: HAPI FHIR is a popular FHIR library (AFAIK it is the reference implementation) on the Java platform that provides a built-in resource validator that can utilize remote terminology services, i.e. SnowOwl. A precondition for this validator is that the terminology service suppo

[2021-11-10 12:42] cmark commented on #935
Hi @business-ms,

The most recent release [8.0.0](https://github.com/b2ihealthcare/snow-owl/releases/tag/v8.0.0) adds full support for storing and filtering by the `CodeSystem.url` (also `ValueSet.url`, `ConceptMap.url`, `Bundle.url`) property. Both `GET` and `POST` search endpoints support it.
Could you please check if that satisfies your needs?

Cheers,
Mark

[2021-11-10 12:47] michael-schmid1 commented on #935
Now that is a fast response time :-)
I'll try again with this version and report back here. Thanks for the response.

[2021-11-10 12:49] cmark commented on #935
Happy to help :-)
Please note version `8.0` requires reimport of everything from scratch, there is no automated migration from `7.x` versions.

[2021-11-10 14:54] xlemassacre opened #936 "SNOMED CT Import not working"
Hi,

in Version 8 i'm not able to import SNOMED CT anymore, the jobs fails with following error:
`"result": "{\"message\":\"Terminology Resource with identifier 'MAIN' could not be found.\",\"developerMessage\":\"The requested instance resource (id = 'MAIN', type = 'Terminology Resource') does not exist and/or not yet created.\",\"code\":0,\"status\":404,\"additionalInfo\":{}}",`

but "/snowowl/sn

[2021-11-10 15:13] cmark commented on #936
Hi @tpawork,

In version 8 it is required to create a SNOMED CT Code System resource before importing any RF2 files (version 7 created this automatically). You can do so by performing the following HTTP call:

[code]

I hope this helps.

Cheers,
Mark

[2021-11-10 15:54] xlemassacre commented on #936
Hi @cmark,

thanks for the fast response.
This seems to solve the problem, the import is now in state RUNNING.

Cheers,
Thomas

[2021-11-10 16:10] cmark commented on #936
Glad to hear. :-)

Cheers,
Mark

[2021-11-10 16:10] #936 closed, assigned to cmark

[2021-11-11 08:42] xlemassacre commented on #936
Hi @cmark,

it seems that the import never comes to state complete. Today I stopped the import from yesterday (by restarting snowowl):
            "state": "FAILED",
            "completionLevel": 0,
            "deleted": false,
            "parameters": "{\"rf2Archive\":{\"attachmentId\":\"e1e0832b-e47b-43ad-ad69-9f1df111b7c5\",\"fileName\":\"file\"},\"releaseType\":\"FULL\",\"createVersions\":t

[2021-11-11 08:48] cmark commented on #936
Hi @tpawork,

What kind of hardware configuration (CPU, RAM, Disk) are you trying to run Snow Owl on? Are you connecting it to an external Elasticsearch cluster? Or everything is the default Docker image (and [this](https://github.com/b2ihealthcare/snow-owl/blob/8.x/docker/docker-compose.yml) compose configuration) setup?
That 15 hour looks scary 😬, FULL imports tend to complete around an hour or

[2021-11-11 09:44] xlemassacre commented on #936
I'm using the docker compose file, but i had to reduce RAM for both services to 4GB each.

Current Hardware:
2 vCPU
10 GB RAM
SAS

I am trying to get more vCPU and RAM now on my VM

[2021-11-11 10:02] cmark commented on #936
I suggest importing the Snapshot release instead of the Full release first.
The minimum VM I would recommend for that docker-compose file (which runs both Snow Owl and Elasticsearch on the same machine) is `4 vCPU, 16g`. You can reduce the Elasticsearch container's memory to 4g, but leave Snow Owl at 6g or even increase it to 8g, leaving 4g free for the OS and I/O cache.
I hope this helps.

[2021-11-12 10:46] xlemassacre commented on #936
Did the import again now with 4vCPU, 5GB RAM for elastichsearch and 7GB for Snow Owl.
Took almost an hour but it's now in state FINISHED :-)

[2021-11-12 10:55] michael-schmid1 commented on #935
Perfect, this works! Thanks!

[2021-11-12 10:55] #935 closed, assigned to cmark

[2021-11-12 11:02] xlemassacre opened #938 "Import of FHIR ValueSet"
Hi,

i'm trying to get a FHIR Profile with custom FHIR CodeSystems and ValueSets validated by Snow Owl.

It's possible to import CodeSystem, but ValueSet is not supported as FHIR POST. Is there another way to import those FHIR resources?

[2021-11-12 11:09] cmark commented on #938
Hi @tpawork,

While the CodeSystem resource is supported in the open-source version, Value Sets and Concept Maps are only available in the pro version.
If you are interested please contact us [here](mailto:info@b2i.sg).

Cheers,
Mark

[2021-11-12 11:13] cmark commented on #936
Glad to hear that. :)

[2021-11-15 08:00] cmark commented on #938
_Converting to discussions..._

[2021-11-15 08:00] #938 closed, assigned to nobody

[2021-11-15 20:17] cmark commented on #894
_Converting to discussion..._

[2021-11-15 20:17] #894 closed, assigned to cmark

[2022-01-10 17:33] mattecasu opened #964 "Log4j vulnerability"
Hello dear _b2i_,
do you plan to release dockerised patched versions for the log4j "0-day" vulnerability [containing the latest log4j version 2.17.1, or alternatively none at all]? Or, is there a mitigation that you suggest, perhaps one of these? https://www.lunasec.io/docs/blog/log4j-zero-day-mitigation-guide .
Thank you

[2022-01-10 18:09] cmark commented on #964
Hi @mattecasu,

Snow Owl is **unaffected** of this vulnerability (it uses a different logging library than log4j), but Elasticsearch as storage and search backend is somewhat vulnerable, RCE is not possible, but information leakage in certain cases yes, please refer to this site: https://xeraa.net/blog/2021_mitigate-log4j2-log4shell-elasticsearch/.
Whether you are running your Snow Owl instance in

[2022-01-27 15:59] cmark commented on #964
Hi @mattecasu,

Snow Owl 7.18.1 is out, which depends on Elasticsearch 7.16.3 and resolves any potential security vulnerability around log4j2.
Please find the docker image [here](https://hub.docker.com/layers/b2ihealthcare/snow-owl-oss/7.18.1/images/sha256-a5d62747d8b874d8cc2469a5b59274de60dcd2f70e14c6d35fdff3aeaec1da50?context=explore).
If you have any further questions or issues feel free to con

[2022-01-27 15:59] #964 closed, assigned to cmark

[2022-01-31 16:03] mattecasu commented on #964
Dear Mark,

thanks for the patched tags - we are having an issue when using 7.18.1, I suspect it's not compatible with the latest AWS ElasticSearch clusters version (that is on 7.10). It seems like it cannot contact the cluster or find the indexes ("cluster not available" and also `Couldn't check the existence of ES index 'locks-lock'` ).
[Are you aware of this? Or maybe we are not considering som

[2022-01-31 16:23] cmark commented on #964
Hi @mattecasu,

Do you have the full stack trace?
It could be a compatibility issue between the Elasticsearch 7.16.3 client and the AWS Elasticsearch 7.10 service.

Cheers,
Mark

[2022-01-31 16:36] aelred commented on #964
Hi @cmark, here's the full stacktrace we're getting:

[code]

(I slightly redacted our Elasticsearch URL)

[2022-01-31 17:18] cmark commented on #964
Hi @aelred,

Could you please try the latest `7.x` image from Dockerhub (it should be available at any minute now)? That has a change that will print out the cluster diagnostic message next to the `Cluster at 'https://our-es-url.eu-west-1.es.amazonaws.com' is not available.` error, so we can see what is going on under the hood and hopefully get a fix for it quickly.

Thank you,
Mark

[2022-01-31 17:33] aelred commented on #964
Thanks Mark, we'll give it a try when it's pushed up!

It looks like the build failed though:

[code]
https://github.com/b2ihealthcare/snow-owl/runs/5009331342?check_suite_focus=true

[2022-01-31 17:40] cmark commented on #964
Yeah, that's the `8.x` build (Codecov sometimes misbehaves, could not figure out why so far). The `7.x` builds are running on our internal CI servers and they have been completed 30 minutes now. Dockerhub refreshes itself quite slowly, I recommend pulling the image anyway via `docker pull b2ihealthcare/snow-owl-oss:7.x` and checking its image ID. It should be `f0a33069ff08`.

I hope this helps.

C

[2022-01-31 18:21] aelred commented on #964
Oh you're right! Sorry, I was looking at the wrong thing.

With the new `7.x` we get: `Invalid or missing build flavor [oss]`.

Here's the full stack trace:

[code]

[2022-02-01 10:50] mattecasu commented on #964
Hello Mark,
we think it's probably this? https://github.com/elastic/elasticsearch/issues/76091
The thing is that the AWS-provided ES is probably used by many (including us 😅), so it would be best for Snowowl to make sure the ES client adopted can query it (hopefully AWS will soon bump their version..).

As for log4j, one way is to:
- exclude any old log4j group
- include log4j-1.2-api (translates

[2022-02-01 17:28] cmark commented on #964
Hi @mattecasu,

Interesting, according to the official Elasticsearch docs, it should be backward compatible with the older 7.x versions, but apparently that's not true.
Elastic has changed Elasticsearch's licensing from Apache license starting from 7.11.0, none of the other Elasticsarch hosting providers will ever going to upgrade their version above 7.10.2 due to that, because the new license for

[2022-02-02 10:54] aelred commented on #964
Thanks Mark, we'll apply the configuration for now!

[2022-02-14 15:52] mattecasu commented on #964
Hello again Mark,

did you find a way to make the patched versions compatible with AWS's ElasticSearch? Just asking to understand if you have it on the roadmap.

[2022-02-15 14:56] cmark commented on #964
Hi @mattecasu,

Not yet, we could fix it by altering the Elasticsearch source somehow but that could easily turn into a licensing issue which we would like to avoid. Feel free to open another ticket that tracks the compatibility of Snow Owl with the AWS Elasticsearch service, which only fixes the client-side part of the Log4j2 vulnerability, the AWS Elasticsearch service will still offer Elasticse

[2022-06-06 16:44] martinmart92 opened #1030 "Missing results in GET `/snomed-ct/v3/{path}/members`"
**Describe the bug**
When querying for this endpoint with a list of 120 `referencedComponentId` values, SnowOwl only returns 99 results.

**To Reproduce**

curl command:

[code]

I get the following result:
[code]
I expected a "total" with a value of 120, and 120 elements in the "items" field.
As an example, `363702006` is absent from the returned items.

Interestingly, if I move this input parame

[2022-06-07 10:55] cmark commented on #1030
Hi @martinmart92,

Thanks for reporting the issue, we will take a look and get back to you shortly.

Cheers,
Mark

[2022-06-07 16:00] martinmart92 commented on #1030
Thank you @cmark ! Any questions or if you need more details from my side, please do feel free to ask.

[2022-06-08 10:17] cmark commented on #1030
@martinmart92 do you happen to know the edition/extension you were querying with that request? Is it a SNOMED International content or perhaps the UK Edition?

I did try that query on our latest release versions (7.19.2 and 8.3.0) using the SNOMED International Edition and they both return 112 matches for the 120 referencedComponentIds. The difference is probably coming from the fact that some IDs

[2022-06-09 11:10] martinmart92 commented on #1030
@cmark Thanks Mark for looking at this!

So, I was querying the UK edition 2021-11-24 based on International edition 2021-01-31.
However, note that when I changed the order of the input parameters, the expected result does appear, which made me think of a bug in SnowOwl's code or config, rather than an issue related to the data itself.

cf in my initial message:

[2022-06-09 11:33] cmark commented on #1030
Yes, I understand that, it's just it does not happen anymore or at least we were unable to reproduce it so far. Thanks for the information regarding the SNOMED content, we will try to reproduce it with the exact version and data and get back to you.

Cheers,
Mark

[2022-06-09 11:55] cmark commented on #1030
Another question, does this happen when you use the `POST /:path/members/search` endpoint where a JSON body describes the query instead of using URL query parameters?

[2022-06-09 13:00] martinmart92 commented on #1030
@cmark thanks! We plan to upgrade to the latest version of SnowOwl as soon as possible.

About the POST endpoint: We do not use the POST endpoint in our codebase (yet), so I don't know (yet), however I'll try it as soon as I can

[2022-06-10 08:46] cmark commented on #1030
Hi @martinmart92,

Just a small update.

Specifying too many query parameters will result in an `HTTP 431 Request Header Fields Too Large` error in Snow Owl. In this case, it is recommended to switch to the POST endpoint and use that for querying.

Do you have any reverse proxy in front of the Snow Owl service? Some implementations by default simply truncate long URLs when proxying HTTP requests w

[2022-06-27 12:56] martingall87 opened #1032 "SnowOwl & AWS ElasticSearch"
Hello B2i!

At the moment I'm looking to setup a little demo environment with Snow Owl connecting to an OpenSearch (Elastic 7.10) instance in AWS.

I wondered if there was any guidance / best practice for connecting SnowOwl successfully to an AWS ElasticSearch instance? I believe AWS ElasticSearch requires all comms to be signed using an AWS v4 sig, however it looks like HTTP Basic Auth can be use

[2022-06-27 19:35] #1032 closed, assigned to cmark

[2022-08-13 11:37] cmark commented on #1030
Hi @martinmart92,

I'm going to close this one as we think the original issue is invalid. Feel free to reopen this or move it to a discussion if you'd like to.

Cheers,
Mark

[2022-08-13 11:37] #1030 closed, assigned to cmark

[2022-08-13 11:38] cmark commented on #578
Hi all,

I'm closing this due to inactivity. Feel free to reopen if you have any new information or need help.

Cheers,
Mark

[2022-08-13 11:38] #578 closed, assigned to cmark

[2022-09-27 16:46] sidharthramesh opened #1064 "ArrayIndexOutOfBoundsException on Import"
**Describe the bug**
Importing the following RF2 Extension with `type: snapshot` in the body:
[SnomedCT_IndiaDrugExtensionRF2_PRODUCTION_IN1000189_20220830T120000Z.zip](https://drive.google.com/file/d/1-tq1NGk7SfV9d1vKYkuFRnwZWrdF65PN/view?usp=sharing)

The job errors out with:
[code]

Some server logs that might help (I tried to upload it twice):
[code]

**To Reproduce**

_NOTE: make sure you are

[2022-09-27 17:13] cmark commented on #1064
Hey @sidharthramesh,

Thank you for raising the bug report.

Could you please share the file you have used with us if possible via [this email address](mailto:mczotter@b2ihealthcare.com)?

We will then investigate and get back to you.

Cheers,
Mark

[2022-10-04 14:22] nagyo commented on #1064
Hey @sidharthramesh,

The above PR (#1065) will resolve the issue you encountered. The root cause was an empty line in the file `der2_cRefset_LanguageSnapshot-en_IN1000189_20220830.txt` at row # 2620. This is now handled correctly.

Unfortunately, though there are other significant issues with the release archive. We have seen ~28460 occurrences of SNOMED CT concept identifiers used as SNOMED CT d

[2022-10-04 14:33] sidharthramesh commented on #1064
Thank you @nagyo! I have reported these issues. I hope they will get back soon.

[2022-10-04 15:10] #1064 closed, assigned to cmark

[2022-11-23 11:48] insano10 opened #1090 "Can we control how the searching works on the search APIs?"
I'm implementing a 'search as you type' widget for snomed codes and I've noticed that the concept/description searching appears to be implemented as a whole word token search. Is there any control over how this works from API parameters?

For example if a user is typing the word "heart attack", there will be some intermediate searches of "heart a" and "heart at".
I would like the search results to

[2022-11-23 13:38] cmark commented on #1090
Hi @insano10,

Prefix matching is supported and it is applied to all lexical searches. When you use either the Concept or the Description API `term` filter the following full-text search will be executed:
1. exact search term matches (lowercase, ascii-folded, etc.)
2. all words of the search term match (lowercase, ascii-folded, etc.)
3. all whole words of the search term and the last word as prefi

[2022-11-23 13:45] insano10 commented on #1090
That's very helpful, thank you very much for the comprehensive (and quick!) response

[2022-11-23 13:45] #1090 closed, assigned to nobody

[2022-11-23 13:51] cmark commented on #1090
Glad I could help.

I think in the long run if this is something users are looking for we will definitely get more configuration supported in the search system, so thank you very much for your information and use case. 🙇

[2022-11-23 20:44] insano10 commented on #1090
That's great to hear you are open to changes as I am keen to use your product. Would you be open to external contributions to this repo to add this configuration in the future?

[2022-11-24 08:27] cmark commented on #1090
Yeah sure. We have a [CONTRIBUTING document](https://github.com/b2ihealthcare/snow-owl/blob/8.x/CONTRIBUTING.md) describing our contribution policy to this repository.